
{% import "macro.twig" as macro %}

{% set sum_min = 0 %}
{% set sum_max = 0 %}

<table class="table table-condensed">
    <thead>
        <tr>
            <th class="column-icon">{{ "global.inventories"|trans }}</th>
            <th class="column-amount">{{ "global.buy"|trans }}</th>
            <th class="column-amount">{{ "global.sell"|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in account.characters %}
            {% if module.isowner or module.user.hasright('character/'~item.name) %}
                <tr>
                    <td class="column-name">
                        <img src="{{ item.professionicon|image }}" title="{{ ('profession.'~item.profession)|trans }}" class="profession pull-left" />
                        <a href="../character/{{ item.name }}"><b>{{ item.name }}</b></a>
                    </td>
                    <td class="column-amount">{{ macro.amount(item.bagsprice.buy) }}</td>
                    <td class="column-amount">{{ macro.amount(item.bagsprice.sell) }}</td>
                </tr>
                {% set sum_min = sum_min + item.bagsprice.buy %}
                {% set sum_max = sum_max + item.bagsprice.sell %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% if (module.owner or user.hasright('bank')) and account.haspermission('inventories') %}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="column-icon">{{ "global.banks"|trans }}</th>
                <th class="column-amount"></th>
                <th class="column-amount"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in account.bankvaults %}
                <tr>
                    <td class="column-name">{{ "global.bank"|trans }} {{ item.id }}</td>
                    <td class="column-amount">{{ macro.amount(item.price.buy) }}</td>
                    <td class="column-amount">{{ macro.amount(item.price.sell) }}</td>
                </tr>
                {% set sum_min = sum_min + item.price.buy %}
                {% set sum_max = sum_max + item.price.sell %}
            {% endfor %}
        </tbody>
    </table>

{% endif %}

{% if (module.owner or user.hasright('collectibles')) and account.haspermission('inventories') %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="column-icon">{{ "menu.vaults.collectibles"|trans }}</th>
                <th class="column-amount"></th>
                <th class="column-amount"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in account.collectibles %}
                <tr>
                    <td class="column-name">{{ item.name }}</td>
                    <td class="column-amount">{{ macro.amount(item.price.buy) }}</td>
                    <td class="column-amount">{{ macro.amount(item.price.sell) }}</td>
                </tr>
                {% set sum_min = sum_min + item.price.buy %}
                {% set sum_max = sum_max + item.price.sell %}
            {% endfor %}
        </tbody>
    </table>

{% endif %}

<table class="table table-condensed">
    <thead>
        <tr>
            <th class="column-icon">{{ "global.total"|trans }}</th>
            <th class="column-amount"></th>
            <th class="column-amount"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="column-name"></td>
            <td class="column-amount">{{ macro.amount(sum_min) }}</td>
            <td class="column-amount">{{ macro.amount(sum_max) }}</td>
        </tr>
    </tbody>
</table>

{% if (module.owner or user.hasright('wallet')) and account.haspermission('wallet') %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="column-icon">{{ "menu.general.wallet"|trans }}</th>
                <th class="column-amount"></th>
                <th class="column-amount"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="column-name"></td>
                <td class="column-amount"></td>
                <td class="column-amount">{{ macro.amount(account.wallet.1.quantity) }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}