
{% import "AppBundle::tooltips/tooltip-skill.html.twig" as macro %}

<div class="gwitem">

    <div class="gwitemheader">
        <div class="gwicon">
            <img title="{{ trait.getName }}" src="{{ trait|image }}" />
        </div>

        <div class="gwname">
            {{ trait.getName }}
        </div>
    </div>

    <div>
        {{ trait.getdescription|striptags|nl2br }}
    </div>
    
    {{ macro.facts(trait, trait.id) }}

</div>

{% for skill in trait.getskills %}

    {{ macro.skill(skill, loop.length > 1 ? 0 : 1) }}

{% endfor %}
