{% spaceless %}
    <!DOCTYPE html>

    {#
     # This file is part of the Arnapou GW2Tools package.
     #
     # (c) Arnaud Buathier <arnaud@arnapou.net>
     #
     # For the full copyright and license information, please view the LICENSE
     # file that was distributed with this source code.
     #}

    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
        <meta http-equiv="Cache-control" content="no-cache"/>
        <meta http-equiv="Expires" content="-1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% set breadcrumb = module.breadcrumb %}
            {% block title %}
                {% if account and breadcrumb %}
                    {{ account.name }} &raquo; {{ breadcrumb|join(' &raquo; ')|raw }}
                {% elseif account %}
                    {{ account.name }}
                {% else %}
                    GW2 Tools
                {% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link href="{{ asset('assets/bootstrap-3.3.7/css/bootstrap-flatly.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/fontello/css/gw2tool.css') }}" rel="stylesheet"/>
            {% stylesheets filter='cssrewrite' output='assets/style.css'
            'assets/css/bootstrap-hack.css'
            'assets/css/general.css'
            'assets/css/typeahead.css'
            'assets/css/specialization.css'
            'assets/css/spinner.css'
            'assets/css/tooltip.css' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <script>
            var LANG = "{{ lang }}";
            var CODE = "{{ code }}";
        </script>
    </head>
    <body>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">GW2 Tools</a>
            </div>

            <div class="collapse navbar-collapse">
                {% include "AppBundle::base/menu-left.html.twig" %}
                {% include "AppBundle::base/menu-right.html.twig" %}
            </div>

        </div>
    </div>

    <div class="container" id="container">
        {% block pre_content %}{% endblock %}
        {% block content %}{% endblock %}
        {% block post_content %}{% endblock %}
        <div id="gwitemdetail"></div>
    </div>

    <div id="footer">
        <div class="container">
            {% block footer %}
                {% include "AppBundle::base/footer.html.twig" %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ asset('assets/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/typeahead/dist/typeahead.bundle.min.js') }}"></script>
    {% block javascripts %}
        {% javascripts filter="?jsqueeze" output='assets/script.js'
        'assets/js/js.cookie.js'
        'assets/js/plugin-bootbox.js'
        'assets/js/jqkeychange.js'
        'assets/js/jquery.dataTables.min.js'
        'assets/js/dataTables.bootstrap.min.js'
        'assets/js/script.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% include "AppBundle::base/tracking.html.twig" %}
    </body>
    </html>
{% endspaceless %}
