
{% macro object(obj, force, nopic) %}
    {% if obj.getId() %}
        <div class="inventory-slot">
            {#{% if nopic %}
                <div class="item">
                    <span {{ obj|gwlink|raw }}>
                        <img src="{{ obj.getStatname()|imagestat }}" class="rarity-{{ obj.getRarity() }}" />
                    </span>
                </div>
            {% else %}#}
            {% if obj.gettype != 'Gathering' %}
                <div class="stat">
                    <img src="{{ obj.getStatname()|imagestat }}" title="{{ ('stats.'~obj.getStatname())|trans }}" />
                    {#                        <span class="rarity border rarity-{{ obj.getRarity() }}"></span>#}
                </div>
            {% endif %}
            <div class="item">
                <span {{ obj|gwlink|raw }}>
                    <img src="{{ obj|image }}" class="item rarity-{{ obj.getRarity() }}" />
                    {% if obj.getCharges() %}
                        <span class="charges">{{ obj.getCharges() }}</span>
                    {% endif %}
                </span>
            </div>
            {#            {% endif %}#}
            {% if obj.gettype != 'Gathering' %}
                <div class="addons">
                    <div class="upgrades">
                        {% for upgrade in obj.upgrades %}
                            <span {{ upgrade|gwlink|raw }}>
                                <img src="{{ upgrade|image }}" class="infusion" />
                            </span>
                        {% endfor %}
                    </div>
                    <div class="infusions">
                        {% for infusion in obj.infusions %}
                            <span {{ infusion|gwlink|raw }}>
                                <img src="{{ infusion|image }}" class="upgrade" />
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% elseif force %}
        <div class="inventory-slot empty">
            <div class="stat">
                <img src="/assets/images/empty.png" class="item" />
            </div>
            <div class="item">
                <span>
                    <img src="/assets/images/cross.svg" class="item rarity-Junk" />
                </span>
            </div>
        </div>
    {% endif %}
{% endmacro %}



{% macro charname(context, char) %}
    <span class="character-name">
        <i class="ic-profession-{{ char.getProfession()|lower }}"></i>
        <a href="/{{ context.lang }}/{{ context.code }}/character/{{ char }}">
            {{ char }}
        </a>
    </span>
{% endmacro %}



{% macro amount(value, type) %}
    {% import _self as self %}
    {% if value.buy is not none %}
        {{ self.amount(value.buy, 'buy') }} &#8210; {{ self.amount(value.sell, 'sell') }}
    {% else %}
        <span data-amount="{{ value }}" data-type="{{ type is defined ? type : '' }}">
            {% set g = (value / 10000)|round(0, 'floor') %}
            {% set s = (value / 100)|round(0, 'floor') % 100 %}
            {% set c = value % 100 %}
            {% if g %}
                <span class="gold">{{ g }}</span>
                <span class="silver">{{ s }}</span>
                <span class="copper">{{ c }}</span>
            {% elseif s %}
                <span class="silver">{{ s }}</span>
                <span class="copper">{{ c }}</span>
            {% else %}
                <span class="copper">{{ c }}</span>
            {% endif %}
        </span>
    {% endif %}
{% endmacro %}



{% macro shared_slots(account, context) %}
    {% import _self as self %}
    {% set slots = account.inventory %}
    {% if slots|length %}
        <div class="slots">
            <div class="bag">
                <div class="slot">
                    <img src="/assets/images/misc/shared-slot.png" />
                </div>
            </div>

            {% for item in slots %}
                {{ self.inventory_slot(item) }}
            {% endfor %}

        </div>
    {% endif %}
{% endmacro %}



{% macro character_bags(char, context) %}
    {% import _self as self %}
    {% for bag in char.bags %}
        <div class="slots">
            <div class="bag">
                <div class="slot">
                    {% if bag.getId() %}
                        <span {{ bag|gwlink|raw }}>
                            <img src="{{ bag|image }}" />
                        </span>
                    {% else %}
                        <img src="{{ ""|image }}" class="nothing" />
                    {% endif %}
                </div>
            </div>

            {% for item in bag.getInventorySlots() %}
                {{ self.inventory_slot(item, context) }}
            {% endfor %}

        </div>
    {% endfor %}
{% endmacro %}



{% macro guild_stash(stash) %}
    {% import _self as self %}
    <div class="stash slotbars">
        <div class="stash-header">
            <div>
                <img src="{{ stash.getUpgrade|image }}" />
            </div>
            <div>
                <b>{{ stash.getUpgrade.getName }}</b>
            </div>
            <div>
                {{ self.amount(stash.getStashPrice) }}
            </div>
        </div>
        <div class="slots">

            {% for item in stash.InventorySlots %}
                {{ self.inventory_slot(item, none) }}
            {% endfor %}

        </div>
        <div class="stash-coins">
            <div class="pull-right">
                {{ self.amount(stash.getCoins) }}
            </div>
            <div class="pull-left">
                {{ stash.getNote() }}
            </div>
        </div>
    </div>
{% endmacro %}



{% macro inventory_slot(item, context) %}
    {% import _self as self %}
    <div class="slot rarity-{{ item.getRarity() }}">
        {% if item.getId() %}
            <span {{ item|gwlink|raw }}>
                <img src="{{ item|image }}" />
                {% if item.getCount() > 1 %}
                    <span class="count">{{ item.getCount() }}</span>
                {% elseif item.getCharges() %}
                    <span class="count">{{ item.getCharges() }}</span>
                {% endif %}
                {% if item.getPrice().sell_total %}
                    {{ self.inventory_slot_amount(item.getPrice().sell_total) }}
                {% else %}
                    {{ self.inventory_slot_amount(item.getPrice().sell) }}
                {% endif %}
            </span>
        {% endif %}
    </div>
{% endmacro %}



{% macro inventory_slot_amount(value) %}
    {% set g = (value / 10000)|round(0, 'floor') %}
    {%  if g >=1 %}
        <span class="amount" data-amount="{{ value }}">
            <span class="gold">{{ g }}</span>
        </span>
        <span class="goldbar" data-g="{{ g }}"></span>
    {% endif %}
{% endmacro %}



{% macro specializations(build, show_id) %}
    {% for spe in build.getSpecializations() %}
        {% if spe %}
            {% if show_id is defined and show_id %}
                <span class="pull-right">{{ 'global.id'|trans }}={{ spe.id }}</span>
            {% endif %}
            <b class="{{ spe.isElite() ? 'text-danger' : '' }}">{{ spe.getName() }}</b>
            <div class="specialization">
                <img src="{{ spe.getbackground|image }}" class="background" />
                <img src="/assets/images/specialization-mask.svg" class="mask" />
                {% for i, trait in spe.getminortraits %}
                    <div class="trait minor-{{ i+1 }}">
                        <img src="{{ trait.geticon|image }}" {{ trait|gwlink|raw }} />
                    </div>
                {% endfor %}
                {% for i, trait in spe.getmajortraits %}
                    <div class="trait major-{{ i+1 }} {{ (trait.getId() in spe.traitsids) ? '' : 'not-selected' }}">
                        <img src="{{ trait.geticon|image }}" {{ trait|gwlink|raw }} />
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}


