
{% import "macro.twig" as macro %}

{% for char in account.characters %}
    {% if module.isAllowedCharacter(char.name) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    {{ macro.amount(char.bagsprice) }}
                </div>
                <img src="{{ char.professionicon|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession" />
                <a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a>
            </div>
            <div class="panel-body">
                {{ macro.character_bags(char) }}
            </div>
        </div>
    {% endif %}
{% endfor %}
