
{% import "macro.twig" as macro %}

{% set daily = account.client.achievementsdaily() %}

<style>
    .daily td {
        vertical-align: middle;
    }
    .daily td img {
        width: 3em;
        height: 3em;
    }
    .daily td:first-child {
        width: 4em;
        text-align: center;
    }
</style>

<div class="row">
    {% for env in ['pve', 'wvw', 'pvp'] %}
        <div class="col-xs-4 summary">
            <div class="panel panel-default">
                <div class="panel-heading">{{ page_name }} - {{ ('global.'~env)|trans }}</div>
                <div class="panel-body">
                    <table class="table table-condensed daily">
                        <tbody>
                            {% for item in daily[env] %}
                                {% if item.object %}
                                    {#                                    {{ item|json_encode() }}#}
                                    <tr>
                                        <td>
                                            <img src="{{ item.object.icon|image }}" />
                                            <div>
                                                <small>
                                                    {{ item.level.min }} - {{ item.level.max }}
                                                </small>
                                            </div>
                                        </td>
                                        <td title="{{ item.object.description }}">
                                            {{ item.object.name }}
                                            <div class="text-muted">
                                                <small>
                                                    {{ item.object.requirement }}<br />
                                                </small>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>