
{% import "macro.twig" as macro %}

{% set char = account.character(character_name) %}

{% set attributes = char.attributes %}

<div class="row">
    <div class="col-xs-8 summary">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b> {{ char.name }}</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td>{{ 'global.level'|trans }}</td>
                                    <td>{{ char.level }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.gender'|trans }}</td>
                                    <td>{{ ('gender.'~char.gender)|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.race'|trans }}</td>
                                    <td>{{ ('race.'~char.race)|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.profession'|trans }}</td>
                                    <td>
                                        <img src="{{ char.professionicon|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession" />
                                        {{ ('profession.'~char.profession)|trans }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.guild'|trans }}</td>
                                    <td>
                                        {% if char.guild %}
                                            <img src="{{ char.guild|image }}" class="emblem" />
                                            {{ char.guild.fullname }}
                                        {% else %}
                                            {{ 'global.none'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td>{{ 'global.crafting'|trans }}</td>
                                    <td>
                                        {% if char.crafting|length %}
                                            {% for craft in char.crafting %}
                                                <span title="{{ ('crafting.'~craft.name)|trans }}">
                                                    <img class="craft" src="{{ craft|image }}" /> {{ craft.rating }}
                                                </span> 
                                            {% endfor %}
                                        {% else %}
                                            {{ 'global.none'|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.created'|trans }}</td>
                                    <td>{{ char.created }} <small>(UTC)</small></td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.days'|trans }}</td>
                                    <td>{{ char.days }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.age'|trans }}</td>
                                    <td>{{ (char.age/3600)|round }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'global.deaths'|trans }}</td>
                                    <td>{{ char.deaths }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 stats">
        {% if module.isAllowed('attributes') %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'menu.characters.attributes'|trans }}
                    {% if attributes.unknown|length %}
                        <span class="pull-right text-danger" title="{{ 'global.unknown_attributes_for'|trans({
                                'attributes': attributes.unknown|transarray({}, 'itemtype.')|join(', ')
                                }) }}">
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                        </span>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tbody>
                            {% for attr in [
                                    'Power',
                                    'Precision',
                                    'Toughness',
                                    'Vitality',
                                    'Ferocity',
                                    'Condition',
                                    'Healing',
                                    'AR',
                                ] %}
                            <tr>
                                <td>{{ ('attribute.'~attr)|trans }}</td>
                                {% for k, v in attributes.list[attr] %}
                                    {% if attributes.list[attr]|length == 1 %}
                                        {{ block('single_attributes') }}
                                        {{ block('single_attributes') }}
                                        {{ block('single_attributes') }}
                                    {% else %}
                                        {% block single_attributes %}
                                            <td class="attr" colspan="3">
                                                <span class="attr" title="{{ ('itemtype.'~k)|trans }}">
                                                    {{ v }}
                                                    {% if attributes.list[attr~'Pct'] %}
                                                        &nbsp;&nbsp;
                                                        <small class="text-muted">
                                                            {{ attributes.list[attr~'Pct'][k] }}%
                                                        </small>
                                                    {% endif %}
                                                </span>
                                            </td>
                                        {% endblock %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>

</div>
                    
{% set tab_equip = module.isAllowed('equipments') ? 1 : 0 %}
{% set tab_inven = module.isAllowed('inventories') ? 1 : 0 %}
{% set tab_build = module.isAllowed('builds', 'pvp') ? 3 : 0 %}

{% if tab_equip + tab_inven + tab_build > 1 %}
    <ul class="nav nav-tabs">
        {% if tab_equip %}
            <li><a href="#" data-tab="tab-stuff">{{ 'global.equipment'|trans }}</a></li>
        {% endif %}
        {% if tab_inven %}
            <li><a href="#" data-tab="tab-inventory">{{ 'global.inventory'|trans }}</a></li>
        {% endif %}
        {% if tab_build %}
            <li><a href="#" data-tab="tab-build-pve">{{ 'traits.pve'|trans }}</a></li>
            <li><a href="#" data-tab="tab-build-wvw">{{ 'traits.wvw'|trans }}</a></li>
            <li><a href="#" data-tab="tab-build-pvp">{{ 'traits.pvp'|trans }}</a></li>
        {% endif %}
    </ul>
{% endif %}

<div class="char_tabs">
    {% if tab_equip %}
        <div class="tab tab-stuff" style="display: none;">
            <table class="stuff">
                {% set equipment = char.equipments %}
                {% set tools     = char.tools %}
                <tbody>
                    <tr>
                        <td class="block">
                            <div class="panel panel-default">

                                <div class="panel-heading">{{ 'global.weapons_set1'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['WeaponA1']) }}
                                            {{ _self.object(equipment['WeaponA2']) }}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="panel-heading">{{ 'global.weapons_set2'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['WeaponB1']) }}
                                            {{ _self.object(equipment['WeaponB2']) }}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="panel-heading">{{ 'global.weapons_aquatic'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['WeaponAquaticA']) }}
                                            {{ _self.object(equipment['WeaponAquaticB']) }}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                        <td class="separator"></td>
                        <td class="block">
                            <div class="panel panel-default">

                                <div class="panel-heading">{{ 'global.armor'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['Helm']) }}
                                            {{ _self.object(equipment['Shoulders']) }}
                                            {{ _self.object(equipment['Coat']) }}
                                            {{ _self.object(equipment['Gloves']) }}
                                            {{ _self.object(equipment['Leggings']) }}
                                            {{ _self.object(equipment['Boots']) }}
                                            {{ _self.object(equipment['HelmAquatic']) }}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                        <td class="separator"></td>
                        <td class="block">
                            <div class="panel panel-default">

                                <div class="panel-heading">{{ 'global.trinkets'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['Amulet']) }}
                                            {{ _self.object(equipment['Ring1']) }}
                                            {{ _self.object(equipment['Ring2']) }}
                                            {{ _self.object(equipment['Accessory1']) }}
                                            {{ _self.object(equipment['Accessory2']) }}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="panel-heading">{{ 'itemtype.Backpack'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['Backpack']) }}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="block">
                            <div class="panel panel-default">

                                <div class="panel-heading">{{ 'global.inventory'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {% for bag in char.bags %}
                                                {% for subtype in [	
                                                    'Greatsword', 'Hammer', 'LongBow', 'ShortBow', 'Rifle', 'Staff',
                                                    'Axe', 'Mace', 'Sword', 'Warhorn', 'Shield', 'Scepter', 'Focus', 'Torch', 'Pistol', 'Dagger',
                                                    'Speargun', 'Harpoon', 'Trident'
                                                ] %}
                                                    {% for obj in bag.inventorystuff[subtype] %}
                                                        {{ _self.object(obj) }}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                        <td class="separator"></td>
                        <td class="block">
                            <div class="panel panel-default">

                                <div class="panel-heading">{{ 'global.inventory'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {% for bag in char.bags %}
                                                {% for subtype in ['Helm', 'Shoulders', 'Coat', 'Gloves', 'Leggings', 'Boots', 'HelmAquatic'] %}
                                                    {% for obj in bag.inventorystuff[subtype] %}
                                                        {{ _self.object(obj) }}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                        <td class="separator"></td>
                        <td class="block">
                            <div class="panel panel-default">

                                <div class="panel-heading">{{ 'global.inventory'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {% for bag in char.bags %}
                                                {% for subtype in ['Ring', 'Amulet', 'Backpack', 'Accessory'] %}
                                                    {% for obj in bag.inventorystuff[subtype] %}
                                                        {{ _self.object(obj) }}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="panel-heading">{{ 'global.tools'|trans }}</div>
                                <div class="panel-body">
                                    <table class="table table-condensed equipment">
                                        <tbody>
                                            {{ _self.object(equipment['Sickle'], true) }}
                                            {{ _self.object(equipment['Axe'], true) }}
                                            {{ _self.object(equipment['Pick'], true) }}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if tab_inven %}
        <div class="panel panel-default tab tab-inventory" style="display: none;">
            <div class="panel-heading">
                <div class="pull-right">
                    {{ macro.amount(char.bagsprice) }}
                </div>
                {{ 'global.inventory'|trans }}
            </div>
            <div class="panel-body">
                {{ macro.character_bags(char) }}
            </div>
        </div>
    {% endif %}

    {% if tab_build %}
        <div class="panel panel-default tab tab-build-pve" style="display: none;">
            <div class="panel-heading">
                {{ 'traits.pve'|trans }}
                <a href="../gw2skills-pve/{{ char.name }}" class="gw2skillslink" target="_blank">
                    <i class="glyphicon glyphicon-link"></i>Gw2Skills
                </a>
            </div>
            <div class="panel-body">
                {{ macro.specializations(char.buildpve) }}
            </div>
        </div>
        <div class="panel panel-default tab tab-build-wvw" style="display: none;">
            <div class="panel-heading">
                {{ 'traits.wvw'|trans }}
                <a href="../gw2skills-wvw/{{ char.name }}" class="gw2skillslink" target="_blank">
                    <i class="glyphicon glyphicon-link"></i>Gw2Skills
                </a>
            </div>
            <div class="panel-body">
                {{ macro.specializations(char.buildwvw) }}
            </div>
        </div>
        <div class="panel panel-default tab tab-build-pvp" style="display: none;">
            <div class="panel-heading">
                {{ 'traits.pvp'|trans }}
                <a href="../gw2skills-pvp/{{ char.name }}" class="gw2skillslink" target="_blank">
                    <i class="glyphicon glyphicon-link"></i>Gw2Skills
                </a>
            </div>
            <div class="panel-body">
                {{ macro.specializations(char.buildpvp) }}
            </div>
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    if($('.char_tabs .tab').length == 1) {
        $('.char_tabs .tab').show();
    }
    else {
        $('.nav-tabs a').eq(0).trigger('click');
    }
</script>

{% macro object(obj, istool) %}
    {% if obj.id %}
        <tr class="object" data-id="{{ obj.id }}">
            <td>
                <span {{ obj|gwlink|raw }}>
                    <img src="{{ obj|image }}" class="item rarity-{{ obj.rarity }}" />
                </span>
            </td>
            {% if not istool %}
                <td>
                    {% for upgrade in obj.upgrades %}
                        <span {{ upgrade|gwlink|raw }}>
                            <img src="{{ upgrade|image }}" class="infusion rarity-{{ upgrade.rarity }}" />
                        </span>
                    {% endfor %}
                    {% for infusion in obj.infusions %}
                        <span {{ infusion|gwlink|raw }}>
                            <img src="{{ infusion|image }}" class="upgrade rarity-{{ infusion.rarity }}" />
                        </span>
                    {% endfor %}
                </td>
            {% endif %}
            <td>
                {% set attrs = obj.attributes %}
                {% set stats = attrs.stats|split('/')|transarray({}, 'attribute.')|join('/') %}
                {% if istool %}
                    <span class="stats rarity-{{ obj.rarity }}">{{ obj.name }}</span>
                {% elseif attrs.stats_name and attrs.stats %}
                    <span title="{{ stats }}" class="stats rarity-{{ obj.rarity }}">{{ ('stats.'~attrs.stats_name)|trans }}</span>
                {% elseif attrs.stats_name %}
                    <span title="{{ obj.name }}" class="stats rarity-{{ obj.rarity }}">{{ ('stats.'~attrs.stats_name)|trans }}</span>
                {% elseif attrs.stats %}
                    <span title="{{ stats }}" class="stats rarity-{{ obj.rarity }}"><em>{{ 'global.unknown'|trans }}</em></span>
                {% else %}
                    <span title="{{ obj.name }}" class="stats rarity-{{ obj.rarity }}"><em>{{ 'global.unknown'|trans }}</em></span>
                {% endif %}
                <span class="equipment-type">{{ ('itemtype.'~obj.subtype)|trans }}</span>
            </td>
        </tr>
    {% elseif obj is iterable %}
        {% for item in obj %}
            {{ _self.object(item) }}
        {% endfor %}
    {% endif %}
{% endmacro %}