

{% block content %}

	{% set attributes = char.attributes %}
							
	<div class="row">
		<div class="col-sm-8 summary">
			<div class="panel panel-default">
				<div class="panel-heading">
					<b> {{ char.name }}</b>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<table class="table table-condensed">
								<tbody>
									<tr>
										<td>Level</td>
										<td>{{ char.level }}</td>
									</tr>
									<tr>
										<td>Gender</td>
										<td>{{ char.gender }}</td>
									</tr>
									<tr>
										<td>Race</td>
										<td>{{ char.race }}</td>
									</tr>
									<tr>
										<td>Profession</td>
										<td>
											<img src="{{ char.profession.icon }}" title="{{ char.profession.name }}" class="profession" />
											{{ char.profession.name }}
										</td>
									</tr>
									<tr>
										<td>Guild</td>
										<td>
											<img src="{{ char.guild.icon }}" class="emblem" />
											{{ char.guild.fullname }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-6">
							<table class="table table-condensed">
								<tbody>
									<tr>
										<td>Crafting</td>
										<td>
											{% for craft in char.crafting %}
												<span data-toggle="tooltip" title="{{ craft.discipline }}">
													<img class="craft" src="{{ craft.icon }}" /> {{ craft.level }}
												</span> 
											{% endfor %}
										</td>
									</tr>
									<tr>
										<td>Created</td>
										<td>{{ char.created }}</td>
									</tr>
									<tr>
										<td>Days</td>
										<td>{{ char.days }}</td>
									</tr>
									<tr>
										<td>Age</td>
										<td>{{ char.age }}</td>
									</tr>
									<tr>
										<td>Deaths</td>
										<td>{{ char.deaths }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 stats">
			<div class="panel panel-default">
				<div class="panel-heading">
					Attributes (only stuff)
					{% if attributes.unknown|length %}
						<span class="pull-right text-danger" data-toggle="tooltip" title="Unknown attributes for {{ attributes.unknown|join(', ') }}">
							<i class="glyphicon glyphicon-exclamation-sign"></i>
						</span>
					{% endif %}
				</div>
				<div class="panel-body">
					<table class="table table-condensed">
						<tbody>
							{% for attr in [
								'Power',
								'Precision',
								'Toughness',
								'Vitality',
								'Ferocity',
								'Condition',
								'Healing',
								'AR',
							] %}
								<tr>
									<td>{{ attr }}</td>
									<td>
										{% if attr == 'AR' %}
											{% for k, v in attributes.list[attr] %}
												<span class="AR" data-toggle="tooltip" title="{{ k }}">
													{{ v }}
												</span>
											{% endfor %}
										{% else %}
											{{ attributes.list[attr] }}
											{% if attributes.list[attr~'_pct'] %}
												&nbsp;&nbsp;
												<small class="text-muted">
													{{ attributes.list[attr~'_pct'] }}%
												</small>
											{% endif %}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		{% set equipment = char.equipments %}

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Weapons set 1</div>
				<div class="panel-body">
					{{ _self.objects(equipment, ['WeaponA1', 'WeaponA2']) }}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Weapons set 2</div>
				<div class="panel-body">
					{{ _self.objects(equipment, ['WeaponB1', 'WeaponB2']) }}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Weapons Aquatic</div>
				<div class="panel-body">
					{{ _self.objects(equipment, ['WeaponAquaticA', 'WeaponAquaticB']) }}
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Armor</div>
				<div class="panel-body">
					{{ _self.objects(equipment, ['Helm', 'Shoulders', 'Coat', 'Gloves', 'Leggings', 'Boots', 'HelmAquatic']) }}
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Trinkets</div>
				<div class="panel-body">
					{{ _self.objects(equipment, ['Amulet', 'Ring1', 'Ring2', 'Accessory1', 'Accessory2']) }}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Backpack</div>
				<div class="panel-body">
					{{ _self.objects(equipment, ['Backpack']) }}
				</div>
			</div>
		</div>

	</div>
				
	<div class="row">
		{% set inventory = char.inventory %}

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Inventory Weapons</div>
				<div class="panel-body">
					<table class="table table-condensed equipment">
						<tbody>
							{% for type, items in inventory %}
								{% if type in [	
									'Greatsword', 'Hammer', 'LongBow', 'ShortBow', 'Rifle', 'Staff',
									'Axe', 'Mace', 'Sword', 'Warhorn', 'Shield', 'Scepter', 'Focus', 'Torch', 'Pistol', 'Dagger',
									'Speargun', 'Harpoon', 'Trident'
								] %}
									{{ _self.object(items) }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Inventory Armors</div>
				<div class="panel-body">
					<table class="table table-condensed equipment">
						<tbody>
							{% for type, items in inventory %}
								{% if type in ['Helm', 'Shoulders', 'Coat', 'Gloves', 'Leggings', 'Boots', 'HelmAquatic'] %}
									{{ _self.object(items, type) }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Inventory Trinkets</div>
				<div class="panel-body">
					<table class="table table-condensed equipment">
						<tbody>
							{% for type, items in inventory %}
								{% if type in ['Ring', 'Amulet', 'Backpack', 'Accessory'] %}
									{{ _self.object(items, type) }}
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% macro objects(equipment, types) %}
	<table class="table table-condensed equipment">
		<tbody>
			{% for type in types %}
				{{ _self.object(equipment[type]) }}
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro object(obj) %}
	{% if obj.id %}
		<tr class="object" data-id="{{ obj.id }}">
			<td>
				<a href="http://db.dulfy.net/item/{{ obj.id }}" target="_blank">
					<img data-toggle="tooltip" title="{{ obj.name }}" src="{{ obj.icon }}" class="item rarity-{{ obj.rarity }}" />
				</a>
			</td>
			<td>
				{% for upgrade in obj.upgrades %}
					<a href="http://db.dulfy.net/item/{{ upgrade.id }}" target="_blank">
						<img data-toggle="tooltip" title="{{ upgrade.name }}" src="{{ upgrade.icon }}" class="infusion rarity-{{ upgrade.rarity }}" />
					</a>
				{% endfor %}
				{% for infusion in obj.infusions %}
					<a href="http://db.dulfy.net/item/{{ infusion.id }}" target="_blank">
						<img data-toggle="tooltip" title="{{ infusion.name }}" src="{{ infusion.icon }}" class="upgrade rarity-{{ infusion.rarity }}" />
					</a>
				{% endfor %}
			</td>
			<td>
				{% if obj.stats_name and obj.stats %}
					<span data-toggle="tooltip" title="{{ obj.stats }}" class="stats rarity-{{ obj.rarity }}">{{ obj.stats_name }}</span>
				{% elseif obj.stats_name %}
					<span data-toggle="tooltip" title="{{ obj.name }}" class="stats rarity-{{ obj.rarity }}">{{ obj.stats_name }}</span>
				{% elseif obj.stats %}
					<span data-toggle="tooltip" title="{{ obj.stats }}" class="stats rarity-{{ obj.rarity }}"><em>unknown</em></span>
				{% else %}
					<span data-toggle="tooltip" title="{{ obj.name }}" class="stats rarity-{{ obj.rarity }}"><em>unknown</em></span>
				{% endif %}
				<span class="equipment-type">{{ obj.type }}</span>
			</td>
		</tr>
	{% elseif obj is iterable %}
		{% for item in obj %}
			{{ _self.object(item) }}
		{% endfor %}
	{% endif %}
{% endmacro %}