
{% import "AppBundle::macro.html.twig" as macro %}
{% import "AppBundle::pvp/content.html.twig" as pvp %}

{% set ctab = app.request.get('tab') %}
{% set guildLevel = guild.getLevel() %}

{% spaceless %}  

    {% if ctab %}

        {% if 'tab-upgrades' in ctab %}

            {% if ctab == 'tab-upgrades-locked' %}

                <div class="row unlocked">
                    <div class="col-xs-6">
                        {% for item in guild.getTreasuryByUpgrade %}
                            {% set up = item.upgrade %}
                            {% set class = 'locked' %}
                            {% block upgrades_list_title %}
                                <div class="upgrade-title menu {{ class }}" data-id="upg-{{ up.getId() }}">
                                    <div><img src="{{ up|image }}" /></div>
                                    <div>{{ up.getName }}</div>
                                </div>
                            {% endblock %}
                        {% endfor %}
                    </div>
                    <div class="col-xs-6">
                        {% for item in guild.getTreasuryByUpgrade %}
                            {% set up = item.upgrade %}
                            {% set treasuries = item.treasuries %}
                            {% block upgrades_list_detail %}
                                <div class="upgrade-detail" id="upg-{{ up.getId() }}" style="display: none">
                                    <div>
                                        {{ up.getDescription() }}
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">{{ 'global.type'|trans }}</div>
                                        <div class="col-xs-9">{{ ('guild.upgrade.type.'~up.getType())|trans|raw }}</div>
                                    </div>
                                    {% if up.getRequiredLevel() %}
                                        <div class="row">
                                            <div class="col-xs-3">{{ 'global.required_level'|trans }}</div>
                                            <div class="col-xs-9">{{ up.getRequiredLevel() }}</div>
                                        </div>
                                    {% endif %}
                                    {% if up.getBuildTime() %}
                                        <div class="row">
                                            <div class="col-xs-3">{{ 'global.build_time'|trans }}</div>
                                            <div class="col-xs-9">{{ up.getBuildTime() }}</div>
                                        </div>
                                    {% endif %}
                                    {% if up.getExperience() %}
                                        <div class="row">
                                            <div class="col-xs-3">{{ 'global.experience'|trans }}</div>
                                            <div class="col-xs-9">{{ up.getExperience() }}</div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-xs-3">{{ 'global.costs'|trans }}</div>
                                        <div class="col-xs-9">
                                            {% for cost in up.getCosts() %}
                                                {% if cost.getItem %}
                                                    {% set treasury = none %}
                                                    {% if treasuries %}
                                                        {% if cost.getItem().getId() == 70701 %}
                                                            {% set treasury = { getCount: guild.getFavor } %}
                                                        {% else %}
                                                            {% set treasury = treasuries[cost.getItem().getId()] %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if treasury %}
                                                        {% set pct = cost.getCount > 1 ? 100 * treasury.getCount / cost.getCount : 0 %}
                                                        <div class="upgrade-cost {{ treasury.getCount >= cost.getCount() ? 'done' : '' }}">
                                                            <span>
                                                                <img src="{{ cost.getItem()|image }}" {{ cost.getItem()|gwlink|raw }} />
                                                                {{ _self.pct(treasury.getCount, cost.getCount) }}
                                                            </span>
                                                            <span>{{ cost.getCount() }}</span>
                                                        </div>
                                                    {% else %}
                                                        <div class="upgrade-cost">
                                                            <span><img src="{{ cost.getItem()|image }}" {{ cost.getItem()|gwlink|raw }} /></span>
                                                            <span>{{ cost.getCount() }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">{{ 'global.prerequisites'|trans }}</div>
                                        <div class="col-xs-9">
                                            {% for pre in up.getPrerequisites() %}
                                                <div class="upgrade-title">
                                                    <div><img src="{{ pre|image }}" /></div>
                                                    <div>{{ pre.getName() }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endfor %}
                    </div>
                </div>

            {% elseif ctab == 'tab-upgrades-unlocked' %}

                <div class="row unlocked">
                    <div class="col-xs-6">
                        {% for up in guild.getUpgrades %}
                            {% set class = 'unlocked' %}
                            {{ block('upgrades_list_title') }}
                        {% endfor %}
                    </div>
                    <div class="col-xs-6">
                        {% for up in guild.getUpgrades %}
                            {% set treasuries = none %}
                            {{ block('upgrades_list_detail') }}
                        {% endfor %}
                    </div>
                </div>

            {% endif %}

            <script type="text/javascript">
                (function($tab) {
                    $tab.find('.upgrade-title').click(function(e) {
                        var $this = $(this);
                        var tabHeight = $tab.innerHeight();
                        e.preventDefault();
                        $tab.find('.upgrade-title.active').removeClass('active');
                        $tab.find('.upgrade-detail').hide();
                        var $div = $tab.find('#' + $this.data('id'));
                        $div.show();
                        var pos = $this.position();
                        var divHeight = $div.height();
                        if (pos && pos.top) {
                            if (tabHeight && pos.top + divHeight > tabHeight) {
                                $div.css('top', Math.round(tabHeight - divHeight - 5) + 'px');
                            } else {
                                $div.css('top', Math.round(pos.top) + 'px');
                            }
                        }
                        $this.addClass('active');
                        return false;
                    }).eq(0).trigger('click');
                })($('.{{ ctab }}'));
            </script>

        {% elseif ctab == 'tab-ranks' %}

            {% for rank in guild.getRanks %}
                <table class="table table-condensed table-hover">
                    <tr>
                        <td class="rank">
                            <span>
                                <img src="{{ rank|image }}" />
                            </span>
                        </td>
                        <td>{{ rank.getId() }}</td>
                        {% set columns = rank.getPermissions|columns(2) %}
                        {% for perms in columns %}
                            <td class="permissions">
                                {% for perm in perms %}
                                    {% if perm %}
                                        {% if perm.unlocked %}
                                            <div class="unlocked">
                                                <i class="glyphicon glyphicon-ok text-success"></i> {{ perm }}
                                            </div>
                                        {% else %}
                                            <div class="locked">
                                                <i class="glyphicon glyphicon-remove text-danger"></i> {{ perm }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            {% endfor %}

        {% elseif ctab == 'tab-members' %}

            {% set ranks = guild.getRanks %}
            <div class="row">
                {% set columns = guild.getMembers|columns(2) %}
                {% for items in columns %}
                    <div class="col-xs-6">
                        <table class="table table-condensed table-hover">
                            {% for member in items %}
                                <tr>
                                    <td title="{{ member.getJoined() }}">{{ member.getJoined()|datediff }}</td>
                                    <td>{{ member.getName() }}</td>
                                    <td class="rank" title="{{ member.getRank() }}">
                                        <span>
                                            <img src="{{ ranks[member.getRank()]|image }}" />
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>

        {% elseif ctab == 'tab-treasury' %}

            {% set upgradeIds = guild.getUpgradeIds() %}
            <div class="row">
                {% for obj in guild.getTreasury %}
                    <div class="col-xs-4 treasury">
                        <table class="table table-condensed table-hover">
                            <tr>
                                <td>
                                    <img src="{{ obj.getItem|image }}" {{ obj.getItem|gwlink|raw }} />
                                    {{ _self.pct(obj.getItem.getCount, obj.getTotalCount) }}
                                    <div>{{ obj.getItem.getCount }}</div>
                                </td>
                                <td>
                                    <ul>
                                        {% for up in obj.getNeededBy %}
                                            {% if up.upgrade.getId not in upgradeIds %}
                                                <li title="{{ up.upgrade.getDescription }}">
                                                    {{ up.count }} : {{ up.upgrade.getName }}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% if loop.index0 % 3 == 2 %}
                    </div>
                    <div class="row">
                    {% endif %}
                {% endfor %}
            </div>

        {% elseif ctab == 'tab-stashs' %}

            <div class="row">
                {% set columns = guild.getStash|columns(2) %}
                {% for items in columns %}
                    <div class="col-xs-6">
                        {% for stash in items %}
                            {% if stash %}
                                {{ macro.guild_stash(stash) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        {% elseif ctab == 'tab-teams' %}

            {% for team in guild.getTeams %}
                <div class="row" style="margin-bottom: 2em">
                    <div class="col-xs-3">
                        <b class="label label-primary">{{ team.getName }}</b>
                        <table class="table table-condensed" style="margin-top: .5em">
                            {% for member in team.getMembers %}
                                <tr>
                                    <td title="{{ member.getRole }}">
                                        <i class="glyphicon glyphicon-user"></i> &nbsp;{{ member.getName }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br />
                        <div class="summary">
                            {% set max = team.aggregatestats.total %}
                            <table class="table table-condensed" style="table-layout: fixed">
                                <tr>
                                    <td>{{ 'pvp.total'|trans }}</td>
                                    <td>{{ pvp.progress_matches(100, max) }}</td>
                                    <td title="{{'pvp.winrate'|trans}}">{{ pvp.progress_winrate(team.aggregatestats.winrate) }}</td>
                                </tr>
                                {% for key in ['ranked', 'unranked'] %}
                                    {% set stat = team.ladderstats(key) %}
                                    {% if stat %}
                                        <tr>
                                            <td>{{ ('pvp.'~key)|trans }}</td>
                                            <td>{{ pvp.progress_matches(max > 0 ? (100 * stat.total / max) : 0, stat.total) }}</td>
                                            <td title="{{'pvp.winrate'|trans}}">{{ pvp.progress_winrate(stat.winrate) }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-9 games">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>{{ 'pvp.map'|trans }}</th>
                                    <th>{{ 'pvp.date'|trans }}</th>
                                    <th>{{ 'pvp.result'|trans }}</th>
                                    <th class="text-center">{{ 'pvp.team'|trans }}</th>
                                    <th class="text-center">{{ 'pvp.duration'|trans }}</th>
                                    <th class="text-center">{{ 'pvp.score'|trans }}</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set max = 0 %}
                                {% for game in team.games %}
                                    {% if loop.first %}
                                        {% set max = stat.total %}
                                    {% endif %}
                                    <tr>
                                        <td class="column-map">{{ game.map }}</td>
                                        <td class="column-delay">{{ game.dateended|datediff }}</td>
                                        <td class="column-result">
                                            {% if game.isvictory %}
                                                <i class="glyphicon glyphicon-ok"></i>
                                            {% else %}
                                                <i class="glyphicon glyphicon-remove"></i>
                                            {% endif %}
                                            {{ ('pvp.'~game.getresult)|trans }}
                                        </td>
                                        <td class="text-center">
                                            <span class="{{ game.getteam|lower }}">{{ ('pvp.'~game.getteam)|trans }}</span>
                                        </td>
                                        <td class="text-center">{{ game|gameduration }}</td>
                                        <td class="text-center">
                                            <span class="blue">{{ game.scoreblue }}</span> - <span class="red">{{ game.scorered }}</span>
                                        </td>
                                        <td class="column-scorebar">
                                            {{ pvp.progress_score(game) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}

        {% elseif ctab == 'tab-log' %}

            {% set ranks = guild.getRanks %}

            <div class="row">
                <div class="col-xs-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="#" data-types="">{{ 'global.all'|trans }}</a></li>
                        <li role="presentation"><a href="#" data-types="joined,invited,kick,rank_change,invite_declined">{{ 'global.guild.members'|trans }}</a></li>
                        <li role="presentation"><a href="#" data-types="treasury">{{ 'global.guild.treasury'|trans }}</a></li>
                        <li role="presentation"><a href="#" data-types="stash">{{ 'global.stash'|trans }}</a></li>
                        <li role="presentation"><a href="#" data-types="motd">{{ 'global.guild.motd'|trans }}</a></li>
                        <li role="presentation"><a href="#" data-types="upgrade">{{ 'global.guild.upgrades'|trans }}</a></li>
                    </ul>
                </div>
                <div class="col-xs-9">
                    <table class="table table-condensed table-hover">
                        {% for log in guild.getLog %}
                            {% set type = log.getType() %}
                            {% if type in ['joined', 'invited', 'kick', 'rank_change', 'invite_declined','treasury', 'stash', 'motd', 'upgrade'] %}
                                <tr data-type="{{ type }}">
                                    <td title="{{ log.getTime()|datediff }}">{{ log.getTime() }}</td>
                                    <td>
                                        {% if type == 'joined' %}
                                            <i class="glyphicon glyphicon-plus"></i>
                                        {% elseif type == 'invited' %}
                                            <i class="glyphicon glyphicon-share-alt"></i>
                                        {% elseif type == 'kick' %}
                                            <i class="glyphicon glyphicon-minus"></i>
                                        {% elseif type == 'invite_declined' %}
                                            <i class="glyphicon glyphicon-remove"></i>
                                        {% elseif type == 'rank_change' %}
                                            <img src="{{ ranks[log.getNewRank]|image }}" />
                                        {% elseif type == 'motd' %}
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        {% elseif type == 'stash' %}
                                            {% if log.getCoins %}
                                                <i class="ic-ui-golds"></i>
                                            {% else %}
                                                <img src="{{ log.getItem|image }}" {{ log.getItem|gwlink|raw }} />
                                            {% endif %}
                                        {% elseif type == 'treasury' %}
                                            <img src="{{ log.getItem|image }}" {{ log.getItem|gwlink|raw }} />
                                        {% elseif type == 'upgrade' %}
                                            <img src="{{ log.getUpgrade|image }}"/>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if type == 'joined' %}
                                            {{ log.getUser }} <span>{{ 'guild.log.has_joined_the_guild'|trans }}</span>
                                        {% elseif type == 'invited' %}
                                            {{ log.getUser }} <span>{{ 'guild.log.was_invited_by'|trans }}</span> {{ log.getInvitedBy }}
                                        {% elseif type == 'kick' %}
                                            {{ log.getUser }} <span>{{ 'guild.log.was_kicked_by'|trans }}</span> {{ log.getKickedBy }}
                                        {% elseif type == 'invite_declined' %}
                                            {{ log.getUser }} <span>{{ 'guild.log.invite_declined'|trans }}</span> {{ log.getDeclinedBy }}
                                        {% elseif type == 'rank_change' %}
                                            {% if ranks[log.getOldRank].getOrder < ranks[log.getNewRank].getOrder %}
                                                {{ log.getUser }} <span>{{ 'guild.log.rank_changed_up'|trans }}</span> {{ log.getNewRank }}
                                            {% else %}
                                                {{ log.getUser }} <span>{{ 'guild.log.rank_changed_down'|trans }}</span> {{ log.getNewRank }}
                                            {% endif %}
                                        {% elseif type == 'motd' %}
                                            {{ log.getUser }} <span>{{ 'guild.log.motd_changed'|trans }} :</span>
                                            <blockquote>{{ log.getMotd|nl2br }}</blockquote>
                                        {% elseif type == 'stash' %}
                                            {% if log.getCoins %}
                                                {{ log.getUser }} <span>{{ ('guild.log.stash_'~log.getOperation)|trans }}</span> 
                                                <span class="amount">{{ macro.amount(log.getCoins) }}</span>
                                            {% else %}
                                                {{ log.getUser }} <span>{{ ('guild.log.stash_'~log.getOperation)|trans }}</span> 
                                                {{ log.getCount }} {{ log.getItem.getName }}
                                            {% endif %}
                                        {% elseif type == 'treasury' %}
                                            {{ log.getUser }} <span>{{ ('guild.log.treasury_deposit')|trans }}</span> 
                                            {{ log.getCount }} {{ log.getItem.getName }}
                                        {% elseif type == 'upgrade' %}
                                            {{ log.getUpgrade.getName }} <span>{{ ('guild.log.upgrade_'~log.getAction)|trans }}{{ log.getUser ? ' '~('global.by'|trans) : '' }}</span> {{ log.getUser }}
                                        {% else %}
                                            {{ type }} ? unknown
                                            <div >{{ log.getData|json_encode }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <script type="text/javascript">
                (function($tab) {
                    $tab.find('.nav a').click(function(e) {
                        e.preventDefault();
                        $tab.find('.nav .active').removeClass('active');
                        $tab.find('tr').css('display', 'table-row');
                        $(this).parents('li').addClass('active');
                        var types = $(this).data('types');
                        if (types) {
                            types = ',' + types + ',';
                            $tab.find('tr').each(function() {
                                var $this = $(this);
                                var type = $this.data('type');
                                if (types.indexOf(',' + type + ',') < 0) {
                                    $this.css('display', 'none');
                                }
                            });
                        }
                        return false;
                    });
                })($('.tab-log'));
            </script>
        {% endif %}

    {% else %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="{{ guild|image }}" class="guild-icon"> <b>{{ guild }}</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        {{ guild.getMOTD|nl2br }}
                    </div>
                    <div class="col-xs-3">
                        <table class="table table-condensed">
                            <tr>
                                <td><i class="ic-ui-guild-upgrades"></i> {{ 'global.level'|trans }}</td>
                                <td>{{ guild.getLevel }}</td>
                            </tr>
                            <tr>
                                <td><i class="ic-ui-guild-members"></i> {{ 'global.guild.members'|trans }}</td>
                                <td>{{ guild.getMembers|length }}</td>
                            </tr>
                            <tr>
                                <td><i class="ic-ui-xxxxx"></i> {{ 'global.guild.aetherium'|trans }}</td>
                                <td>{{ guild.getAetherium }}</td>
                            </tr>
                            <tr>
                                <td><i class="ic-ui-xxxxx"></i> {{ 'global.guild.favor'|trans }}</td>
                                <td>{{ guild.getFavor }}</td>
                            </tr>
                            <tr>
                                <td><i class="ic-ui-xxxxx"></i> {{ 'global.guild.resonance'|trans }}</td>
                                <td>{{ guild.getResonance }}</td>
                            </tr>
                            <tr>
                                <td><i class="ic-ui-xxxxx"></i> {{ 'global.guild.influence'|trans }}</td>
                                <td>{{ guild.getInfluence }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-3 text-right">
                        <img src="{{ guild|image }}" style="width: 75%">
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading with-tabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#" data-tab="tab-members">
                            <i class="ic-ui-guild-members"></i> {{ 'global.guild.members'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-ranks">
                            <i class="ic-ui-guild-shield"></i> {{ 'global.guild.ranks'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-upgrades-unlocked">
                            <i class="ic-ui-guild-upgrades"></i> {{ 'global.guild.upgrades'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-upgrades-locked">
                            <i class="ic-ui-guild-upgrades"></i> {{ 'guild.upgrades.locked'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-treasury">
                            <i class="ic-ui-guild-treasury"></i> {{ 'global.guild.treasury'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-log">
                            <i class="ic-ui-list"></i> {{ 'global.guild.log'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-stashs">
                            <i class="ic-ui-bank"></i> {{ 'global.stashs'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-tab="tab-teams">
                            <i class="ic-mode-pvp"></i> {{ 'global.guild.teams'|trans }}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="panel-body">

                <div class="tab tab-upgrades tab-upgrades-locked" style="display: none;"></div>
                <div class="tab tab-upgrades tab-upgrades-unlocked" style="display: none;"></div>
                <div class="tab tab-members" style="display: none;"></div>
                <div class="tab tab-ranks" style="display: none;"></div>
                <div class="tab tab-stashs" style="display: none;"></div>
                <div class="tab tab-log" style="display: none;"></div>
                <div class="tab tab-teams" style="display: none;"></div>
                <div class="tab tab-treasury" style="display: none;"></div>

            </div>
        </div>

        <script type="text/javascript">
            $('.panel-body .tab').on('tab-activation', function() {
                var $this = $(this);
                var filled = $this.data('filled');
                if (filled) {
                    return;
                }
                var tabname = $this.data('tab');
                if (tabname) {
                    $this.data('filled', true);
                    $this.html('<div class="spinner-loader"></div> <em>'+{{ "global.loading"|trans|json_encode|raw }}+'</em>');
                            $.get('{{ guild.getId }}.html?tab=' + tabname, function(html) {
                                $this.html(html);
                            })
                            .fail(function() {
                                $this.html('<div class="text-danger">ERROR</div>');
                            })
                }
            });
            $('.nav-tabs a').eq(0).trigger('click');
        </script>

    {% endif %}
{% endspaceless %}

{% macro pct(a, b) %}
    {% set pct = b > 0 ? 100 * a / b : 0 %}
    {% set pct = pct > 100 ? 100 : (pct < 0 ? 0 : pct) %}
    <div class="pct" title="{{ pct|round() }}%  {{ a + 0 }}/{{ b + 0 }}">
        <div style="width: {{ pct|round(3) }}%; background: {{ pct < 33 ? 'red' : (pct < 67 ? 'orange' : ( pct >= 100 ? 'green' : 'yellow' )) }}"></div>
    </div>
{% endmacro %}