
{% import "macro.twig" as macro %}

{% if account.haspermission('builds') %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'global.name'|trans }}</th>
                <th>{{ 'traits.pve'|trans }}</th>
                <th>{{ 'traits.wvw'|trans }}</th>
                <th>{{ 'traits.pvp'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for char in account.characters %}
                {% set attributes = char.attributes %}
                <tr>
                    <td>
                        <img src="{{ char.professionicon|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession pull-right" />
                        {% if module.isowner or module.user.hasright('character') %}
                            <a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a>
                                {% else %}
                            <b>{{ char.name }}</b>
                        {% endif %}
                    </td>
                    <td class="build">
                        {{ _self.build(char.buildpve) }}
                        <a href="../character/{{ char.name }}.build-pve" class="gw2skillslink" target="_blank">
                            <i class="glyphicon glyphicon-link"></i>Gw2Skills
                        </a>
                    </td>
                    <td class="build">
                        {{ _self.build(char.buildwvw) }}
                        <a href="../character/{{ char.name }}.build-wvw" class="gw2skillslink" target="_blank">
                            <i class="glyphicon glyphicon-link"></i>Gw2Skills
                        </a>
                    </td>
                    <td class="build">
                        {{ _self.build(char.buildpvp) }}
                        <a href="../character/{{ char.name }}.build-pvp" class="gw2skillslink" target="_blank">
                            <i class="glyphicon glyphicon-link"></i>Gw2Skills
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}

    {% set permission = 'builds' %}
    {% include 'error-no-permission.twig' %}

{% endif %}

{% macro build(build) %}
    {% for spe in build.specializations %}
        {% if spe.name %}
            {% set minors = spe.minortraits %}
            {% set majors = spe.majorselected %}
            <div>
                <span class="spe">
                    <img src="{{ spe.icon|image }}" {{ spe|gwlink|raw }} />
                </span>
                {% for i in 0..2 %}
                    <span class="trait minor">
                        <img src="{{ minors[i].icon|image }}" {{ minors[i]|gwlink|raw }} />
                    </span>
                    <span class="trait major">
                        <img src="{{ majors[i].icon|image }}" {{ majors[i]|gwlink|raw }} />
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}