<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Expires" content="-1">
		{% block css %}
			<link href="/assets/bootstrap/css/bootstrap.min.css?{{ config.version }}" rel="stylesheet" />
			<link href="/assets/style.css?{{ config.version }}" rel="stylesheet" />
		{% endblock %}
        <style>
            {% for type, color in {
                'Junk'      : 'aaaaaa',
                'Basic'     : '000000',
                'Fine'      : '1a9306',
                'Masterwork': '62A4DA',
                'Rare'      : 'fcd00b',
                'Exotic'    : 'ffa405',
                'Ascended'  : 'fb3e8d',
                'Legendary' : '4C139D',
            } %}
                img.rarity-{{ type }}{
                    border: 1px solid #{{ color }};
                }
                .rarity-{{ type }} {
                    color: #{{ color }};
                }
            {% endfor %}
        </style>
	</head>
	<body>
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">GW2 Tools</a>
				</div>

                <div class="collapse navbar-collapse">
                    {% if code %}
                        <ul class="nav navbar-nav">
                            {% for list in module.menu %}
                                {% set items = list.items(module.owner ? none : user) %}
                                {% if items|length %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            {{ list.label }} <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for item in items %}
                                                {% if item.separator %}
                                                    <li role="separator" class="divider"></li>
                                                {% else %}
                                                    <li><a href="../{{ item.uri }}">{{ item.label }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% set users = module.cookieusers %}
                    {% if account or (users|length) %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if users|length %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ account.name ? account.name : 'Accounts' }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for usr in users %}
                                            <li title="{{ usr.account.permissions|join(', ') }}">
                                                <a href="/api/{{ usr.code }}/">{{ usr.account.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% elseif account %}
                                <li><p class="navbar-text"><b>{{ account.name }}</b></p></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                
                
			</div>
		</div>
		<div class="container" id="container">
			{% block content %}
			{% endblock %}
		</div>
		{% block js %}
			<script src="/assets/jquery.js?{{ config.version }}"></script>
			<script src="/assets/bootstrap/js/bootstrap.min.js?{{ config.version }}"></script>
		{% endblock %}
	</body>
</html>