<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" />
		<meta http-equiv="Cache-control" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		{% block css %}
			<link href="/assets/bootstrap/css/bootstrap.min.css?{{ config.version }}" rel="stylesheet" />
			<link href="/assets/style.css?{{ config.version }}" rel="stylesheet" />
		{% endblock %}
        <title>
            {% set breadcrumb = module.breadcrumb %}
            {% block title %}
                {% if account and breadcrumb %}
                    {{ account.name }} &raquo; {{ breadcrumb|join(' &raquo; ')|raw }}
                {% elseif account %}
                    {{ account.name }}
                {% else %}
                    GW2 Tools
                {% endif %}
            {% endblock %}
        </title>
        <script>
            var LANG = "{{ lang ? lang : '' }}";
        </script>
	</head>
	<body>
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">GW2 Tools</a>
				</div>

                <div class="collapse navbar-collapse">
                    {% if code %}
                        <ul class="nav navbar-nav">
                            {% for list in module.menu %}
                                {% set items = list.items(module.owner ? none : user) %}
                                {% if items|length %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            {{ list.label }} <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for item in items %}
                                                {% if item.separator %}
                                                    <li role="separator" class="divider"></li>
                                                {% else %}
                                                    <li>
                                                        {% if item.permission is none or item.permission and account.haspermission(item.permission) %}
                                                            <a href="../{{ item.uri }}">
                                                                {{ item.label }}
                                                            </a>
                                                        {% else %}
                                                            <a href="../{{ item.uri }}" class="locked">
                                                                <i class="glyphicon glyphicon-lock"></i>{{ item.label }}
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% set users = module.cookieusers %}
                    {% if account or (users|length) %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if users|length %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ account.name ? account.name : ('menu.accounts'|trans) }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for usr in users %}
                                            <li title="{{ usr.account.permissions|join("\n") }}">
                                                <a href="/{{ lang }}/{{ usr.code }}/" class="account-link">
                                                    <small> ... {{ usr.token|slice(-6) }}</small>
                                                    {{ usr.account.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% elseif account %}
                                <li><p class="navbar-text"><b>{{ account.name }}</b></p></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                
                
			</div>
		</div>
		<div class="container" id="container">
			{% block content %}
			{% endblock %}
            <div id="gwitemdetail"></div>
		</div>
        <div id="footer">
            <div class="container">
                {% block footer %}
                    <div class="row">
                        <div class="col-xs-6">
                            <ul>
                                <li>
                                    <i class="glyphicon glyphicon-user"></i> {{ "footer.site_development"|trans }}: 
                                    <a href="mailto:arnaud@arnapou.net">Arnaud Buathier</a>
                                </li>
                                <li>
                                    <img src="/assets/images/github.png" /> GitHub: 
                                    <a href="https://github.com/arnapou/gw2tools" target="_blank">{{ "footer.gw2tools_project"|trans }}</a> <em>(v{{ config.get('version') }})</em>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-list-alt"></i> {{ "footer.changelog"|trans }}: 
                                    <a href="https://github.com/arnapou/gw2tools/blob/master/CHANGELOG.md" target="_blank">{{ "footer.project_changelog"|trans }}</a>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-wrench"></i> {{ "footer.technical"|trans }}: 
                                    <a href="/{{ lang ? lang : 'en' }}/technical-infos">{{ "footer.for_developers"|trans }}</a>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-globe"></i> {{ "footer.languages"|trans }}: 
                                    {% for lang in module.langs %}
                                        {% if not loop.first %}
                                            <span>, </span>
                                        {% endif %}
                                        <a href="/{{ lang }}{{ request.pathinfo|slice(3) }}">{{ lang|upper }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <div class="logo">
                                <a href="http://guildwars2.com/" target="_blank">
                                    <img src="/assets/images/logo-gw2.png" width="128" />
                                </a>
                                <a href="http://www.arena.net/" target="_blank">
                                    <img src="/assets/images/logo-anet.png" width="128" />
                                </a>
                                <a href="http://us.ncsoft.com/" target="_blank">
                                    <img src="/assets/images/logo-ncsoft.png" width="128" />
                                </a>
                            </div>
                            <p>
                                 &copy; {{ "footer.anet_copyright"|trans }}
                            </p>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
		{% block js %}
			<script src="/assets/jquery.js?{{ config.version }}"></script>
			<script src="/assets/bootstrap/js/bootstrap.min.js?{{ config.version }}"></script>
		{% endblock %}
	</body>
</html>
