
{% set attrs = [
	'Power',
	'Precision',
	'Toughness',
	'Vitality',
	'Ferocity',
	'Condition',
	'Healing',
	'RA',
] %}

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			{% for k, v in attrs %}
				<th>{{ v }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for char in apiclient.characters %}
			{% set attributes = char.attributes %}
			<tr>
				<td><a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a></td>
				{% for attr in attrs %}
					<td>
						{% if attr == 'RA' %}
							{% for k, v in attributes[attr] %}
								<span class="RA" data-toggle="tooltip" title="{{ k }}">
									{{ v }}
								</span>
							{% endfor %}
						{% else %}
							{{ attributes[attr] }}
							{% if attributes[attr~'_pct'] %}
								&nbsp;&nbsp;
								<small class="text-muted">
									{{ attributes[attr~'_pct'] }}%
								</small>
							{% endif %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
	