
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Level</th>
			<th>Gender</th>
			<th>Race</th>
			<th>Profession</th>
			<th>Guild</th>
			<th>Crafting</th>
			<th>Created <small>(UTC)</small></th>
			<th class="text-right">Days</th>
			<th class="text-right">Age</th>
			<th class="text-right">Deaths</th>
		</tr>
	</thead>
	<tbody>
		{% for char in apiclient.characters %}
			<tr>
				<td><a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a></td>
				<td>{{ char.level }}</td>
				<td>{{ char.gender }}</td>
				<td>{{ char.race }}</td>
				<td>{{ char.profession }}</td>
				<td>{{ char.guild.name }}</td>
				<td>
					{% for craft in char.crafting %}
						<span data-toggle="tooltip" title="{{ craft.discipline }}">
							<img class="craft" src="{{ craft.icon }}" /> {{ craft.level }}
						</span> 
					{% endfor %}
				</td>
				<td>{{ char.created }}</td>
				<td class="text-right">{{ char.days }}</td>
				<td class="text-right">{{ char.age }}</td>
				<td class="text-right">{{ char.deaths }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>