
{% import "macro.twig" as macro %}

{% set recipeId = item.client.recipeid(item.id) %}

<div class="gwitem">

    <div class="gwitemheader">
        <div class="gwicon">
            <img title="{{ item.name }}" src="{{ item|image }}" />
        </div>

        <div class="gwname rarity-{{ item.rarity }}">
            {{ item.count > 1 ? item.count~' ' : '' }}{{ item.skin ? item.skin.name : item.name }}
        </div>
    </div>

    {% if item.type == 'Weapon' %}

        {% if item.weaponminpower %}
            <div class="gwattack">
                {{ 'global.attack_power'|trans }}: <span class="gwstats">{{ item.weaponminpower~' - '~item.weaponmaxpower }}</span>
            </div>
        {% endif %}
        {% if item.weapondefense %}
            <div class="gwdefense">
                {{ 'global.defense'|trans }}: <span class="gwstats">{{ item.weapondefense }}</span>
            </div>
        {% endif %}
        <div>
            {% for attr, val in item.attributes.list %}
                <div class="gwstats">+{{ val }} {{ ('attribute.'~attr)|trans }}</div>
            {% endfor %}
            {% if item.attributes.stats_name %}
                <em>{{ ('stats.'~item.attributes.stats_name)|trans }}</em>
            {% endif %}
        </div>

        {{ _self.upgrades(item.upgrades) }}
        {{ _self.upgrades(item.infusions) }}
        {{ _self.infusion_empty(item) }}
        {{ _self.transmuted(item) }}

    {% elseif item.type in ['Armor', 'Back'] %}

        {% if item.armordefense %}
            <div class="gwdefense">
                {{ 'global.defense'|trans }}: <span class="gwstats">{{ item.armordefense }}</span>
            </div>
        {% endif %}
        <div>
            {% for attr, val in item.attributes.list %}
                <div class="gwstats">+{{ val }} {{ ('attribute.'~attr)|trans }}</div>
            {% endfor %}
            {% if item.attributes.stats_name %}
                <em>{{ ('stats.'~item.attributes.stats_name)|trans }}</em>
            {% endif %}
        </div>

        {{ _self.upgrades(item.upgrades) }}
        {{ _self.upgrades(item.infusions) }}
        {{ _self.infusion_empty(item) }}
        {{ _self.transmuted(item) }}

    {% elseif item.type == 'Trinket' %}

        <div>
            {% for attr, val in item.attributes.list %}
                <div class="gwstats">+{{ val }} {{ ('attribute.'~attr)|trans }}</div>
            {% endfor %}
            {% if item.attributes.stats_name %}
                <em>{{ ('stats.'~item.attributes.stats_name)|trans }}</em>
            {% endif %}
        </div>

        {{ _self.upgrades(item.upgrades) }}
        {{ _self.upgrades(item.infusions) }}
        {{ _self.infusion_empty(item) }}

    {% elseif item.type == 'UpgradeComponent' %}

        {% if item.subtype != 'Default' %}
            <div>
                {{ ('itemtype.'~item.subtype)|trans }}
            </div>
        {% endif %}
        <div class="gwupgrade">
            {{ item|buffdescription|nl2br }}
        </div>

    {% elseif item.type == 'Bag' %}

        {% if item.bagsize %}
            <div class="gwupgrade">
                {{ 'global.bagsize'|trans }}: {{ item.bagsize }}
            </div>
        {% endif %}

    {% elseif item.type == 'Tool' %}

        {% if item.salvagecharges > 1 %}
            <div class="gwupgrade">
                {{ 'global.charges'|trans }}: {{ item.salvagecharges }}
            </div>
        {% endif %}

    {% elseif item.type == 'Gizmo' %}

        {% if item.subtype == 'UnlimitedConsumable' %}
            <div>
                {{ 'global.unlimited_usage'|trans }}
            </div>
        {% endif %}

    {% elseif item.type == 'CraftingMaterial' %}

        <div>
            {{ 'global.crafting_material'|trans }}
        </div>

    {% elseif item.type == 'Trophy' %}

        <div>
            {{ 'global.trophy'|trans }}
        </div>

    {% elseif item.type == 'Consumable' %}

        {% if item.consumabledescription %}
            <div class="gwstats {{ item.subtype in ['Food', 'Utility'] ? item.subtype|lower : '' }}">
                {{ 'global.consumable'|trans }} ({{ item|consumableduration }}):
                <div>
                    {{ item.consumabledescription|nl2br }}
                </div>
            </div>
        {% else %}
            <div class="gwstats">
                {{ 'global.consumable'|trans }}
            </div>
        {% endif %}

        {% if item.subtype == 'AppearanceChange' %}
            <div>
                {{ 'global.appearance'|trans }}
            </div>
        {% endif %}

    {% endif %}

    <div class="gwinfos">
        {% if item.rarity %}
            <div>{{ ('rarity.'~item.rarity)|trans }}</div>
        {% endif %}
        {% if item.defaultskin %}
            <div>{{ 'global.appearance'|trans }}: {{ item.defaultskin.name }}</div>
        {% endif %}
        {% if item.type in ['Armor', 'Weapon'] and item.subtype %}
            <div>{{ ('itemtype.'~item.subtype)|trans }}</div>
        {% endif %}
        {% if item.type == 'Consumable' %}
            <div>{{ ('itemtype.'~item.type)|trans }}</div>
        {% endif %}
        {% if item.level %}
            <div>{{ 'global.required_level'|trans }}: {{ item.level }}</div>
        {% endif %}
        {% if item.hasflag('AccountBound') %}
            <div>{{ 'global.account_bound'|trans }}</div>
        {% endif %}
        {% if item.hasflag('Unique') %}
            <div>{{ 'global.unique'|trans }}</div>
        {% endif %}
    </div>

    {% if item.description %}
        <div class="gwdescription">
            {{ item.description|nl2br }}
        </div>
    {% endif %}

    {% if item.vendorvalue %}
        <div class="gwvendor">
            {{ 'global.vendor_price'|trans }}: {{ macro.amount(item.vendorvalue) }}
            {% if item.count > 1 %}
                <div class="gwvendorcount">
                    {{ macro.amount(item.vendorvalue * item.count) }} {{ 'global.for'|trans }} {{ item.count }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if item.price.buy %}
        <div class="gwvendor">
            {{ 'global.trading_post_buy'|trans }}: {{ macro.amount(item.price.buy) }}
            {% if item.price.buy_total and item.count > 1 %}
                <div class="gwvendorcount">
                    {{ macro.amount(item.price.buy_total) }} {{ 'global.for'|trans }} {{ item.count }}
                </div>
            {% endif %}
        </div>
        <div class="gwvendor">
            {{ 'global.trading_post_sell'|trans }}: {{ macro.amount(item.price.sell) }}
            {% if item.price.sell_total and item.count > 1 %}
                <div class="gwvendorcount">
                    {{ macro.amount(item.price.sell_total) }} {{ 'global.for'|trans }} {{ item.count }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="gwlink">
        <a href="{{ ('gwdblink'|trans)~item.id }}" target="_blank">
            <i class="glyphicon glyphicon-link"></i>GW2 DB
        </a>
        {% if item.price.buy %}
            <br />
            <a href="{{ 'https://www.gw2tp.com/item/'~item.id }}" target="_blank">
                <i class="glyphicon glyphicon-link"></i>GW2 TP
            </a>
            <br />
            <a href="{{ 'https://www.gw2spidy.com/item/'~item.id }}" target="_blank">
                <i class="glyphicon glyphicon-link"></i>GW2 Spidy
            </a>
        {% endif %}
        {% if recipeId %}
            <br />
            <a href="{{ 'https://www.gw2spidy.com/recipe/'~recipeId }}" target="_blank">
                <i class="glyphicon glyphicon-link"></i>GW2 Spidy ({{ 'global.recipe'|trans }})
            </a>
        {% endif %}
    </div>

    <div class="gwclickinfo">
        {{ 'tooltip.click_info'|trans }}
    </div>
</div>

{% macro transmuted(item) %}
    {% if item.skin %}
        <div class="gwtransmuted">
            {{ 'global.transmuted'|trans }}<br />
            {{ item.name }}
        </div>
    {% endif %}
{% endmacro %}

{% macro upgrades(items) %}
    {% if items|length %}
        {% for item in items %}
            <div class="gwupgrade">
                <img title="{{ item.name }}" src="{{ item|image }}" />
                <span class="rarity-{{ item.rarity }}">{{ item.name }}</span><br />
                {{ item|buffdescription|nl2br }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro infusion_empty(item) %}
    {% set nb = item.infusionslots|length - item.infusions|length %}
    {% if nb > 0 %}
        {% for i in 1..nb %}
            <div class="gwupgrade">
                <img src="/assets/images/infusion_slot.png" />
                {{ 'global.unused_infusion_slot'|trans }}
                {#
                {% if item.rarity in ['Ascended', 'Legendary'] %}
                    {{ 'global.unused_infusion_slot'|trans }}
                {% else %}
                    {{ 'global.unused_upgrade_slot'|trans }}
                {% endif %}
                #}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}