
{% import "macro.twig" as macro %}

<div class="gwitem">

    <div class="gwitemheader">
        <div class="gwicon">
            <img title="{{ skin.name }}" src="{{ skin|image }}" />
        </div>

        <div class="gwname">
            {{ skin.name }}
        </div>
    </div>

    <div>
        {{ ('itemtype.'~skin.type)|trans }}
    </div>

    {% if skin.type in ['Armor', 'Weapon'] %}

        <div>
            {{ ('itemtype.'~skin.subtype)|trans }}
        </div>

    {% endif %}

    {% if skin.armorweightclass %}

        <div>
            {{ ('weight.'~skin.armorweightclass)|trans }}
        </div>

    {% endif %}

    <div>
        {{ 'global.appearance'|trans }}
    </div>

    <div class="gwclickinfo">
        {{ 'tooltip.click_info'|trans }}
    </div>
</div>
