
{% set tp = account.tradingpost %}


{% if (tp.currentbuys|length) + (tp.historybuys|length) %}

    {{ _self.tp_list('global.tp_current_buys'|trans, tp.currentbuys) }}
    {{ _self.tp_list('global.tp_history_buys'|trans, tp.historybuys) }}

{% else %}

    <p>{{ "global.tp_empty"|trans }}</p>

{% endif %}


{% macro tp_list(title, list) %}

    {% import "AppBundle::macro.html.twig" as macro %}

    {% if list|length %}
        <div class="panel panel-toggle panel-primary collapsed">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="pull-right expandcollapse">
                        <i class="glyphicon glyphicon-plus"></i>
                        <i class="glyphicon glyphicon-minus"></i>
                    </div>
                </div>
                <b>{{ title }}</b>
            </div>
        </div>

        <div style="display: none">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="column-icon"></th>
                                <th class="column-name">{{ "global.name"|trans }}</th>
                                <th class="column-date">{{ "global.time"|trans }}</th>
                                <th class="column-quantity">{{ "global.quantity"|trans }}</th>
                                <th class="column-amount">{{ "global.unit_price"|trans }}</th>
                                <th class="column-amount">{{ "global.total_price"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for trade in list %}
                                <tr>
                                    <td class="column-icon">
                                        <span {{ trade.item|gwlink|raw }}>
                                            <img src="{{ trade.item|image }}" class="rarity-{{ trade.item.rarity }}" />
                                        </span>
                                    </td>
                                    <td class="column-name"><span class="rarity-{{ trade.item.rarity }}">{{ trade.item.getname }}</span></td>
                                    <td class="column-date"><span>{{ (trade.purchased ? trade.purchased : trade.created)|datediff }}</span></td>
                                    <td class="column-quantity"><span>{{ trade.quantity }}</span></td>
                                    <td class="column-amount">{{ macro.amount(trade.price) }}</td>
                                    <td class="column-amount">{{ macro.amount(trade.quantity * trade.price) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

{% endmacro %}

<script type="text/javascript">
    $('.page-trading-post .panel-toggle').eq(0).trigger('click');
</script>
