{% extends "AppBundle::tools/base.html.twig" %}

{% block content %}

    <div class="well well-sm">
        <a href="{{ client.baseurl~'gliders?ids=all&lang='~lang }}" target="_blank">
            <i class="glyphicon glyphicon-new-window"></i> {{ 'global.api_link'|trans }}
        </a>
    </div>

    {% set columns = gliders|columns(2, false) %}
    <div class="row">
        {% for column in columns %}
            <div class="col-xs-6">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>{{ 'global.id'|trans }}</th>
                        <th>{{ 'global.item'|trans }}</th>
                        <th>{{ 'global.name'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for glider in column %}
                        {% set unlockItem = glider.getUnlockItem(0) %}
                        <tr>
                            <td>{{ glider.id }}</td>
                            <td>
                                {% if unlockItem %}
                                    <span {{ unlockItem|gwlink|raw }}>
                                        {{ block('glider_icon') }}
                                    </span>
                                {% else %}
                                    {% block glider_icon %}
                                        {% if glider.getIcon %}
                                            <img src="{{ glider.getIcon|image }}"/>
                                        {% else %}
                                            <i class="ic-ui-glider"></i>
                                        {% endif %}
                                    {% endblock %}
                                {% endif %}
                            </td>
                            <td title="{{ glider.getdescription|striptags }}">
                                {{ glider.getname }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <style>
        td {
            width: 20%;
        }

        td:last-child {
            width: 60%;
        }

        td img {
            width: 3em;
            height: 3em;
        }
    </style>

{% endblock %}
