

<div class="pull-right text-muted" style="padding-top: 10px">
    {{ 'statistics.calculated'|trans({'%count%' : statistics.count }) }}
</div>

<ul class="nav nav-tabs">
    <li><a href="#" data-tab="tab-global">{{ 'statistics.global'|trans }}</a></li>
    <li><a href="#" data-tab="tab-wallet">{{ 'statistics.wallet'|trans }}</a></li>
    <li><a href="#" data-tab="tab-unlocks">{{ 'statistics.unlocks'|trans }}</a></li>
    <li><a href="#" data-tab="tab-characters">{{ 'statistics.characters'|trans }}</a></li>
    <li><a href="#" data-tab="tab-pvp">{{ 'statistics.pvp'|trans }}</a></li>
    <li><a href="#" data-tab="tab-items">{{ 'statistics.items'|trans }}</a></li>
    <li><a href="#" data-tab="tab-users">{{ 'statistics.users'|trans }}</a></li>
</ul>

<div class="tab tab-global" style="display: none;">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.races'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Pie" data-source="races.json" data-color="#7F2AFF,#A22E2E,#FFD93E,#61A0FF,#008000"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.professions'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Pie" data-source="professions.json" data-color="#f54251,#ce7f4b,#5fbcd3,#d42aff,#22bc72,#94c34a,#860000,#89676d,#dcb45d"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.genders'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Pie" data-source="genders.json" data-color="#61A0FF,#FF6666"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab tab-wallet" style="display: none;">
    <div class="row">
        {% set colors = {
            '1' : '#c9a900',
            '2' : '#843E84',
            '3' : '#486128',
            '4' : '#22439A',
            '5' : '#86D3F5',
            '6' : '#83836B',
            '7' : '#42BE9C',
            '9' : '#BFBFB1',
            '10': '#8F674F',
            '11': '#6C3541',
            '12': '#83A7BF',
            '13': '#861A0B',
            '14': '#BC3C75',
            '15': '#727266',
            '16': '#D8CAAD',
            '18': '#9D6D17',
            '23': '#9BA1C4',
            '24': '#129B8B',
            '25': '#AEAF86',
            '26': '#E1A971',
            '27': '#A89A73',
        } %}
        {% for column in account.currencies|columns(2, false) %}
            <div class="col-xs-6">
                {% for item in column %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <img src="{{ item.icon|image }}" class="currency" /> &nbsp; {{ item.name }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            {% if item.id == 1 %}
                                <div data-chart="Percentile" data-source="wallet-{{ item.id }}.json" data-unit="golds" data-divisor="10000" data-legend="" data-color="{{ colors[item.id] ? colors[item.id] : '#888888'}}">
                                    <div class="spinner-loader"></div>
                                </div>
                            {% else %}
                                <div data-chart="Percentile" data-source="wallet-{{ item.id }}.json" data-unit="{{ item.name|lower }}" data-legend="" data-color="{{ colors[item.id] ? colors[item.id] : '#888888'}}">
                                    <div class="spinner-loader"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="tab tab-unlocks" style="display: none;">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.unlocked_skins'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="skins.json" data-unit="skins" data-legend="" data-color="#999EFF"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.unlocked_dyes'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="dyes.json" data-unit="dyes" data-legend="" data-color="#F15C80"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab tab-characters" style="display: none;">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.characters'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="characters.json" data-unit="characters" data-legend="" data-color="#A9FF96"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.level80'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="level80.json" data-unit="level 80" data-legend="" data-color="#838388"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.age'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="age.json" data-unit="hours" data-divisor="3600" data-legend="" data-color="#FDEC6D"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.deaths'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="deaths.json" data-unit="deaths" data-legend="" data-color="#44A9A8"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab tab-pvp" style="display: none;">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.pvp_ranks'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="pvpranks.json" data-unit="rank" data-legend="" data-color="#F8E970"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.pvp_winrate'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="pvpwinrates.json" data-unit="% winrate" data-legend="" data-color="#5BC0DE"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.pvp_total'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="pvptotals.json" data-unit="total games" data-legend="" data-color="#F0AD4E"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.pvp_wins'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="pvpwins.json" data-unit="won games" data-legend="" data-color="#5CB85C"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab tab-items" style="display: none;">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.ascended'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="itemsascended.json" data-unit="ascended items" data-legend="" data-color="#fb3e8d"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.legendaries'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="itemslegendary.json" data-unit="legendary items" data-legend="" data-color="#4C139D"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.ascended_weapons'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="itemsascendedweapons.json" data-unit="ascended weapons" data-legend="" data-color="#c93271"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.ascended_armors'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="itemsascendedarmors.json" data-unit="ascended armors" data-legend="" data-color="#992656"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.ascended_backs'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="itemsascendedbacks.json" data-unit="ascended backs" data-legend="" data-color="#fb0f72"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.ascended_trinkets'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="itemsascendedtrinkets.json" data-unit="ascended trinkets" data-legend="" data-color="#fb74ac"><div class="spinner-loader"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
                
<div class="tab tab-users" style="display: none;">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'statistics.users'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div data-chart="Percentile" data-source="users.json" data-tooltip="<b>{point}%</b> of players were connected on gw2tool since <b>{val}</b> days" data-legend="" data-color="#888888">
                        <div class="spinner-loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    img.currency {
        height: 1.5em;
        width: 1.5em;
    }
</style>

<script>
    $(function () {
        $('.nav-tabs a').eq(0).trigger('click');

        renderPieChart();
        renderPercentileChart();

        $(document).on('click', '.nav.nav-tabs a', function (e) {
            renderPieChart();
            renderPercentileChart();
        });
    });


</script>