{% extends "AppBundle::raidplanner/base.html.twig" %}

{% set map = {
'none' : 'default',
'present' : 'success',
'maybe' : 'warning',
'backup' : 'info',
} %}

{% block raidcontent %}

    {% set timenow = 'now'|date('Y-m-d 12:00:00')|date('U') %}
    {% set time = (date~'12:00:00')|date('U') %}
    {% set curtime = (curdate~'12:00:00')|date('U') %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{ member.roster.name }}</b>

            <div class="pull-right">

                <a href="{{ path('raidplanner_history', {'_code': code, 'id': member.roster.id}) }}"
                   class="btn btn-xs btn-primary">
                    {{ 'raidplanner.history'|trans }}
                </a>

                {% if member.canAddMemberRoster %}
                    <button type="button" class="btn btn-xs btn-info action-add-member">
                        {{ 'raidplanner.add_member'|trans }}
                    </button>
                {% endif %}

                {% if member.canModifyRoster %}
                    <a href="{{ path('raidplanner_modify', {'_code': code, 'id': member.roster.id}) }}"
                       class="btn btn-xs btn-primary">
                        {{ 'raidplanner.modify'|trans }}
                    </a>
                {% endif %}

                {% if member.canDeleteRoster %}
                    <button type="button"
                            data-url="{{ path('raidplanner_delete', {'_code': code, 'id': member.roster.id}) }}"
                            class="btn btn-xs btn-danger action-delete">
                        {{ 'raidplanner.delete'|trans }}
                    </button>
                {% endif %}

                {% if member.canLeaveRoster %}
                    <button type="button"
                            data-url="{{ path('raidplanner_leave', {'_code': code, 'id': member.roster.id}) }}"
                            class="btn btn-xs btn-danger action-leave">
                        {{ 'raidplanner.leave_roster'|trans }}
                    </button>
                {% endif %}

            </div>

        </div>
        <div class="panel-body">

            {% if member.roster.description %}
                <div class="well well-sm">
                    <small>{{ member.roster.description|nl2br }}</small>
                </div>
            {% endif %}

            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>
                        <a href="{{ path('raidplanner_detail', {'_code': code, 'id': member.roster.id}) }}?date={{ (time - 86400*7)|date('Y-m-d') }}"
                           class="btn btn-xs btn-primary" title="{{ 'raidplanner.week.previous'|trans }}">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </a>
                        <div class="pull-right">
                            {% if date != curdate %}
                                <a href="{{ path('raidplanner_detail', {'_code': code, 'id': member.roster.id}) }}?date={{ curdate }}"
                                   class="btn btn-xs btn-primary" title="{{ 'raidplanner.week.current'|trans }}">
                                    <i class="glyphicon glyphicon-record"></i>
                                </a>
                            {% endif %}
                            &nbsp;
                            <a href="{{ path('raidplanner_detail', {'_code': code, 'id': member.roster.id}) }}?date={{ date }}"
                               class="btn btn-xs btn-primary" title="{{ 'raidplanner.week.refresh'|trans }}">
                                <i class="glyphicon glyphicon-refresh"></i>
                                <small class="timer-auto-refresh" data-delay="100" style="margin-left: .5em"></small>
                            </a>
                        </div>
                    </th>
                    {% for i in 1..7 %}
                        <th class="day {% if timedays[i] < timenow %}text-muted{% endif %}">
                            {{ ('weekday.'~i)|trans }}<br/>{{ timeday|date('j/m') }}
                        </th>
                    {% endfor %}
                    <th></th>
                    <th>
                        <a href="{{ path('raidplanner_detail', {'_code': code, 'id': member.roster.id}) }}?date={{ (time + 86400*7)|date('Y-m-d') }}"
                           class="btn btn-xs btn-primary" title="{{ 'raidplanner.week.next'|trans }}">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for memb in members %}
                    {% set nameparts = memb.getNameParts %}
                    <tr data-weekid="{{ weeks[memb.id].id }}">
                        <td>
                            {% if memb.isCreator %}
                                <i class="glyphicon glyphicon-user text-danger"
                                   title="{{ 'raidplanner.creator'|trans }}"></i>
                            {% elseif memb.isOfficer %}
                                <i class="glyphicon glyphicon-user text-info"
                                   title="{{ 'raidplanner.officer'|trans }}"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-user"></i>
                            {% endif %}
                            {{ nameparts[0] }}
                            <small class="text-muted">.{{ nameparts[1] }}</small>
                        </td>
                        {% for i in 1..7 %}
                            {% set week = weeks[memb.id] %}
                            {% set status = week.getStatus(i) %}
                            <td class="day" data-index="{{ i }}">
                                {% if member.canModifyWeek(week) and timedays[i] >= timenow %}
                                    <div class="btn-group">
                                        <button class="btn btn-{{ map[status] }} btn-xs dropdown-toggle"
                                                type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            <span class="status">
                                                {{ ('raidplanner.status.'~status)|trans }}
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for s in statuses %}
                                                <li class="status status-{{ s }}" data-status="{{ s }}">
                                                    <a href="#">{{ ('raidplanner.status.'~s)|trans }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <button class="btn btn-{{ map[status] }} btn-xs" type="button" disabled="disabled">
                                        <span class="status">
                                            {{ ('raidplanner.status.'~status)|trans }}
                                        </span>
                                    </button>
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            <small>{{ memb.text }}</small>
                        </td>
                        <td>

                            {% if member.canEditMember(memb) %}
                                <button type="button"
                                        data-url="{{ path('raidplanner_edit_member', {'_code': code, 'id': member.roster.id, 'memberid': memb.id }) }}"
                                        data-value="{{ memb.text }}"
                                        class="btn btn-xs btn-default action-edit-member"
                                        title="{{ 'raidplanner.modify'|trans }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                            {% endif %}

                            {% if member.canRemoveMember(memb) %}
                                <button type="button"
                                        data-url="{{ path('raidplanner_remove', {'_code': code, 'id': member.roster.id, 'memberid': memb.id }) }}"
                                        class="btn btn-xs btn-danger action-remove"
                                        title="{{ 'raidplanner.remove'|trans }}">
                                    <i class="glyphicon glyphicon-minus"></i>
                                </button>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <span class="text-muted">{{ 'raidplanner.registered'|trans }}</span>
                    </td>
                    {% for i in 1..7 %}
                        <td class="day {% if timedays[i] < timenow %}text-muted{% endif %}">
                            {{ sums[i] ?: '' }}
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    {% for i in 1..7 %}
                        <td class="day {% if timedays[i] < timenow %}text-muted{% endif %}">
                            <small>{{ weekcreator.text(i) }}</small>
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    {% for i in 1..7 %}
                        <td class="day">
                            {% if timedays[i] >= timenow %}
                                {% if weekcreator and member.canModifyDay(weekcreator) %}
                                    <button type="button"
                                            data-url="{{ path('raidplanner_edit_day', {
                                                '_code': code,
                                                'id': member.roster.id,
                                                'weekid': weekcreator.id,
                                                'index': i
                                            }) }}"
                                            data-value="{{ weekcreator.text(i) }}"
                                            class="btn btn-xs btn-default action-edit-day"
                                            title="{{ 'raidplanner.modify'|trans }}">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <a href="{{ path('raidplanner_list', {'_code': code}) }}" class="btn btn-sm btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i> {{ 'raidplanner.returnlist'|trans }}
    </a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

            // statuses mapped with bootstrap classes
            var map = {{ map|json_encode|raw }};

            /**
             * @param $button
             * @param status
             */
            function changeStatus($button, status) {
                for (var k in map) {
                    if (typeof k === 'string') {
                        $button.removeClass('btn-' + map[k]);
                    }
                }
                $button.find('.status').text(
                    $button.parents('.btn-group').find('li.status-' + status + ' a').text()
                );
                $button.addClass('btn-' + (status in map ? map[status] : 'default'));
            }

            /**
             * @param json
             */
            function genericReloadOnSuccess(json) {
                if (typeof json.error === 'string') {
                    bootbox.alert(json.error);
                } else {
                    window.location.reload();
                }
            }

            /**
             *
             */
            function genericAlways() {
                refresh.start();
            }

            /**
             * save date status
             */
            $('li.status a').click(function (e) {
                e.stopPropagation();
                var status = $(this).parents('li').data('status');
                var index = $(this).parents('td').data('index');
                var weekid = $(this).parents('tr').data('weekid');
                var $button = $(this).parents('.btn-group').find('button');

                changeStatus($button, status);
                $button.dropdown('toggle');

                $.post({{ path('raidplanner_save_date', {'_code': code, 'id': member.roster.id})|json_encode|raw }},
                    {
                        roster: {{ member.roster.id }},
                        status: status,
                        weekid: weekid,
                        index: index,
                    },
                    function (json) {
                        if (typeof json.sum === 'number') {
                            $button.parents('table.table').find('tfoot td').eq(index).text(json.sum ? json.sum : '');
                        }
                        if (typeof json.status === 'string' && json.status !== status) {
                            changeStatus($button, json.status);
                        }
                        if (typeof json.error === 'string') {
                            bootbox.alert(json.error);
                        }
                    });

                return false;
            });

            /**
             * action delete roster
             */
            $('button.action-delete').click(function () {
                var url = $(this).data('url');
                refresh.pause();
                bootbox.confirm({{ "raidplanner.confirm_delete"|trans|json_encode|raw }}, function (ok) {
                    if (ok) window.location = url;
                    refresh.start();
                });
            });

            /**
             * action leave roster
             */
            $('button.action-leave').click(function () {
                var url = $(this).data('url');
                refresh.pause();
                bootbox.confirm({{ "raidplanner.confirm_leave"|trans|json_encode|raw }}, function (ok) {
                    if (ok) window.location = url;
                    refresh.start();
                });
            });

            /**
             * action remove roster
             */
            $('button.action-remove').click(function () {
                var url = $(this).data('url');
                refresh.pause();
                bootbox.confirm({{ "raidplanner.confirm_remove"|trans|json_encode|raw }}, function (ok) {
                    if (ok) window.location = url;
                    refresh.start();
                });
            });

            /**
             * action add member to roster
             */
            $('button.action-add-member').click(function () {
                refresh.pause();
                bootbox.prompt({
                    title: {{ "raidplanner.add_member"|trans|json_encode|raw }},
                    placeholder: 'John Doe.1234',
                    callback: function (result) {
                        if (typeof result === 'string') {
                            $.post({{ path('raidplanner_add_member', {'_code': code, 'id': member.roster.id})|json_encode|raw }},
                                {member: result})
                                .done(genericReloadOnSuccess)
                                .always(genericAlways);
                        } else {
                            genericAlways();
                        }
                    }
                });
            });

            /**
             * action edit text of member
             */
            $('button.action-edit-member').click(function () {
                var value = $(this).data('value');
                var url = $(this).data('url');
                refresh.pause();
                bootbox.prompt({
                    title: {{ "raidplanner.edit_member"|trans|json_encode|raw }},
                    value: value,
                    callback: function (result) {
                        if (typeof result === 'string') {
                            $.post(url, {text: result})
                                .done(genericReloadOnSuccess)
                                .always(genericAlways);
                        } else {
                            genericAlways();
                        }
                    }
                });
            });

            /**
             * action edit text of day
             */
            $('button.action-edit-day').click(function () {
                var value = $(this).data('value');
                var url = $(this).data('url');
                refresh.pause();
                bootbox.prompt({
                    title: {{ "raidplanner.edit_day"|trans|json_encode|raw }},
                    value: value,
                    callback: function (result) {
                        if (typeof result === 'string') {
                            $.post(url, {text: result})
                                .done(genericReloadOnSuccess)
                                .always(genericAlways);
                        } else {
                            genericAlways();
                        }
                    }
                });
            });


        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .panel-heading .btn {
            margin-left: 1em;
        }

        tr .day {
            width: 9%;
            text-align: center;
        }

        tr th:first-child,
        tr td:first-child {
            width: 20%;
        }

        tr th:last-child,
        tr td:last-child {
            width: 2em;
            text-align: right;
            white-space: nowrap;
        }

        tr td:last-child .btn {
            margin-left: 0.5em;
        }

        tr th:first-child,
        tr th:last-child {
            vertical-align: middle !important;
        }

        .btn.disabled, .btn[disabled] {
            cursor: default;
        }

        table.table > tfoot tr:last-child td {
            border-top: 0;
        }

    </style>
{% endblock %}