{% extends "AppBundle::raidplanner/base.html.twig" %}

{% block raidcontent %}

    {% set formaction = path('raidplanner_create', {'_code': code}) %}
    {% if member.roster.id %}
        {% set formaction = path('raidplanner_modify', {'_code': code, 'id': member.roster.id }) %}
    {% endif %}

    <form action="{{ formaction }}" method="post" class="form-horizontal">
        {% if error is defined %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
                {{ 'raidplanner.name'|trans }}
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" value="{{ member.roster.name }}"
                       placeholder="{{ 'raidplanner.name'|trans }}">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
                {{ 'raidplanner.description'|trans }}
            </label>
            <div class="col-sm-10">
                <textarea name="description" id="description"
                          class="form-control">{{ member.roster.description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-ok"></i> {{ 'raidplanner.save'|trans }}
                </button>
                &nbsp;
                {% if member.roster.id %}
                    <a href="{{ path('raidplanner_detail', {'_code': code, 'id': member.roster.id }) }}"
                       class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-remove"></i> {{ 'raidplanner.cancel'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('raidplanner_list', {'_code': code}) }}"
                       class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-remove"></i> {{ 'raidplanner.cancel'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
