
{% import "macro.twig" as macro %}

{% set pvp = account.pvp %}

<div class="row">
    <div class="col-xs-8 summary">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'pvp.classes'|trans }}
            </div>
            <div class="panel-body professions">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'pvp.nb_matches'|trans }}</th>
                            <th>{{ 'pvp.winrate'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set max = 0 %}
                        {% for stat in pvp.professionsstats %}
                            {% if loop.first %}
                                {% set max = stat.total %}
                            {% endif %}
                            <tr>
                                <td class="column-profession">
                                    <img src="{{ stat|image }}" class="profession pull-right" />
                                    {{ ('profession.'~stat.profession)|trans }}
                                </td>
                                <td>
                                    {{ _self.progress_matches(100 * stat.total / max, stat.total) }}
                                </td>
                                <td class="column-winrate">
                                    {{ _self.progress_winrate(stat.winrate) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-xs-4 stats">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'pvp.global'|trans }}
            </div>
            <div class="panel-body">
                <div class="rank">
                    <img src="/assets/images/rank/{{ pvp.rankname }}.png" class="pull-left" />
                    <div>
                        <span class="level">{{ pvp.rank }}</span>
                        <span class="name">{{ ('ranks.'~pvp.rankname)|trans }}</span>
                    </div>
                </div>
                <div class="global">
                    <table class="table">
                        {% set max = pvp.aggregatestats.total %}
                        <tr>
                            <td>
                                {{ 'pvp.total'|trans }}
                                {{ _self.progress_matches(100, max) }}
                            </td>
                            <td>
                                <br />
                                {{ _self.progress_winrate(pvp.aggregatestats.winrate) }}
                            </td>
                        </tr>
                        {% for key in ['ranked', 'unranked', 'soloarenarated', 'teamarenarated'] %}
                            {% set stat = pvp.ladderstats(key) %}
                            {% if stat %}
                                <tr>
                                    <td>
                                        {{ ('pvp.'~key)|trans }}
                                        {{ _self.progress_matches(max > 0 ? (100 * stat.total / max) : 0, stat.total) }}
                                    </td>
                                    <td>
                                        <br />
                                        {{ _self.progress_winrate(stat.winrate) }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'pvp.games'|trans }}
    </div>
    <div class="panel-body games">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'pvp.class'|trans }}</th>
                    <th>{{ 'pvp.map'|trans }}</th>
                    <th>{{ 'pvp.date'|trans }}</th>
                    <th>{{ 'pvp.result'|trans }}</th>
                    <th class="text-center">{{ 'pvp.team'|trans }}</th>
                    <th class="text-center">{{ 'pvp.duration'|trans }}</th>
                    <th class="text-center">{{ 'pvp.score'|trans }}</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% set max = 0 %}
                {% for game in pvp.games %}
                    {% if loop.first %}
                        {% set max = stat.total %}
                    {% endif %}
                    <tr>
                        <td class="column-profession">
                            <img src="{{ game|image }}" class="profession pull-right" />
                            {{ ('profession.'~game.profession)|trans }}
                        </td>
                        <td class="column-map">{{ game.map.name }}</td>
                        <td class="column-delay">{{ game.dateended|datediff }}</td>
                        <td class="column-result">
                            {% if game.isvictory %}
                                <i class="glyphicon glyphicon-ok"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-remove"></i>
                            {% endif %}
                            {{ ('pvp.'~game.result)|trans }}
                        </td>
                        <td class="text-center">
                            <span class="{{ game.team|lower }}">{{ ('pvp.'~game.team)|trans }}</span>
                        </td>
                        <td class="text-center">{{ game|gameduration }}</td>
                        <td class="text-center">
                            <span class="blue">{{ game.scoreblue }}</span> - <span class="red">{{ game.scorered }}</span>
                        </td>
                        <td class="column-scorebar">
                            {{ _self.progress_score(game) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% macro progress_score(game) %}
    {% if game.scoreblue + game.scorered  > 0 %}
        {% set pct = 100 * game.scoreblue/(game.scoreblue + game.scorered) %}
        <div class="progress progress-scores">
            <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ pct }}%">
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro progress_matches(pct, text) %}
    <div class="progress progress-warning">
        <span>{{ text }}</span>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ pct }}%">
            <span>{{ text }}</span>
        </div>
    </div>
{% endmacro %}

{% macro progress_winrate(pct) %}
    <div class="progress progress-success">
        <span>{{ pct|round(2) }}%</span>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ pct }}%">
            <span>{{ pct|round(2) }}%</span>
        </div>
    </div>
{% endmacro %}