

{% set groups = account.minisbyrarity(account.minis) %}

{% for rarity in [
        '',
        'Junk',
        'Basic',
        'Fine',
        'Masterwork',
        'Rare',
        'Exotic',
        'Ascended',
        'Legendary',
    ] %}

{% spaceless %}
    {% if groups[rarity] %}

        {% set group = groups[rarity] %}

        <div class="panel panel-toggle panel-primary collapsed">
            <div class="panel-heading">
                <div class="pull-right expandcollapse">
                    <i class="glyphicon glyphicon-plus"></i>
                    <i class="glyphicon glyphicon-minus"></i>
                </div>
                <div class="pull-right" title="{{ (100 * group.count / group.total)|round }}%">
                    {{ group.count }} / {{ group.total }}
                </div>
                <i class="ic-ui-minipets"></i> {% if rarity %}{{ rarity }}{% else %}&nbsp;{% endif %}
            </div>
        </div>

        <div style="display: none">

            <div class="panel panel-default">
                <div class="panel-body">

                    {% set columns = group.items|columns(3, false) %}
                    <div class="row">
                        {% for objects in columns %}
                            <div class="col-xs-4">
                                <table class="table table-condensed">
                                    <tbody>
                                        {% for object in objects %}
                                            {% set mini = object.0 %}
                                            {% set item = object.1 %}
                                            <tr class="{{ mini.unlocked ? 'unlocked' : 'locked' }}" data-id="{{ mini.getid }}">
                                                <td>
                                                    {% if mini.isunlocked %}
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    {% else %}
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    {% endif %}
                                                    <span class="rarity-{{ item.getrarity }}">
                                                        <span class="icon">
                                                            <img src="{{ item|image }}" {{ item|gwlink|raw }} />
                                                        </span>
                                                        {{ mini.getname }}
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}

{% endfor %}


