
{% import "macro.twig" as macro %}

{% set collectibles = account.collectibles %}

{% set index = 0 %}
<div class="row">
    {% for category in collectibles %}
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        {{ macro.amount(category.price) }}
                    </div>
                    {{ category.name }}
                </div>
                <div class="panel-body slots">
                    {% for item in category.items %}
                        <div class="slot {{ item.count ? '' : 'empty' }}">
                            {% if item.id %}
                                <a href="http://db.dulfy.net/item/{{ item.id }}" target="_blank" title="{{ item.price|amount }}">
                                    <img src="{{ item|image }}" />
                                    <span class="count">{{ item.count }}</span>
                                </a>
                            {% else %}
                                <img src="{{ ""|image }}" class="nothing" />
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% set index = index + 1 %}
        {% if index % 2 == 0 %}
        </div>
        <div class="row">
        {% endif %}
    {% endfor %}
</div>
