
<table class="table table-condensed">
	<tbody>
		<tr>
			<td>Name</td>
			<td><b>{{ account.name }}</b></td>
		</tr>
		<tr>
			<td>Creation date</td>
			<td>{{ account.created|date('Y-m-d H:i:s')|slice(0,16) }} <small>(UTC)</small></td>
		</tr>
		<tr>
			<td>World</td>
			<td>{{ apiclient.worldname(account.world) }}</td>
		</tr>
		<tr>
			<td>Guilds</td>
			<td>
				{% for guildid in account.guilds %}
					{% set guild = apiclient.guild(guildid) %}
					<div>
						<img src="{{ guild.icon }}" class="emblem" />
						{{ guild.fullname }}
					</div>
				{% endfor %}
			</td>
		</tr>
		{% if account.token %}
			<tr>
				<td>Token</td>
				<td class="text-owner">{{ account.token }}</td>
			</tr>
		{% endif %}
	</tbody>
</table>