
{% import "macro.twig" as macro %}

<table class="table table-condensed">
    <tbody>
        <tr>
            <td>{{ 'global.name'|trans }}</td>
            <td colspan="2"><b>{{ account.name }}</b></td>
        </tr>
        <tr>
            <td>{{ 'global.creation_date'|trans }}</td>
            <td colspan="2">{{ account.created }} <small>(UTC)</small></td>
        </tr>
        <tr>
            <td>{{ 'global.world'|trans }}</td>
            <td colspan="2">{{ account.world.name }}</td>
        </tr>
        <tr>
            <td>{{ 'global.guilds'|trans }}</td>
            <td colspan="2">
                {% for guild in account.guilds %}
                    <div>
                        <img src="{{ guild|image }}" class="emblem" />
                        {{ guild.fullname }}
                    </div>
                {% endfor %}
            </td>
        </tr>
        {% if module.owner %}
            <tr>
                <td class="text-owner">{{ 'global.api_key'|trans }}</td>
                <td>
                    <div>{{ account.accesstoken }}</div>
                </td>
                <td>
                    <span class="btn btn-danger action-delete-token">
                        <i class="glyphicon glyphicon-remove"></i>{{ 'global.unregister_api_key'|trans }}
                    </span>
                    <span class="btn btn-primary action-replace-token">
                        <i class="glyphicon glyphicon-refresh"></i>{{ 'global.replace_api_key'|trans }}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="text-owner">{{ 'global.permissions'|trans }}</td>
                <td colspan="2">
                    {% for permission in module.permissionslist %}
                        {% if account.haspermission(permission) %}
                            <span class="label label-success">{{ permission }}</span>
                        {% else %}
                            <span class="label label-danger">{{ permission }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="text-owner">{{ 'global.public_access'|trans }}</td>
                <td colspan="2">
                    <table class="rights">
                        <thead>
                            <tr>
                                {% for menu in module.menu %}
                                    <th>
                                        {{ menu.label }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for menu in module.menu %}
                                    <td>
                                        {% for item in menu %}
                                            {% if item.separator %}
                                                <hr />
                                            {% else %}
                                                {% set checked = user.hasRight(item.right) %}
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" {{ checked ? 'checked="checked"' : '' }} value="{{ item.right }}" />  {{ item.label }}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="text-owner">{{ 'global.public_other'|trans }}</td>
                <td class="rights">
                    {% for other in ['limit_characters', 'disable_statistics'] %}
                        {% set checked = user.hasRight('other.'~other) %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" {{ checked ? 'checked="checked"' : '' }} value="{{ 'other.'~other }}" />  {{ ('rights.other.'~other)|trans }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </td>
                <td>
                    <span class="btn btn-primary action-save-rights">
                        <i class="glyphicon glyphicon-save"></i>{{ 'global.save_preferences'|trans }}
                    </span>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
