
{% import "macro.twig" as macro %}

{% set totalage = 0 %}
{% set totaldeaths = 0 %}

<table class="table">
    <thead>
        <tr>
            <th>{{ 'global.name'|trans }}</th>
            <th>{{ 'global.level'|trans }}</th>
            <th>{{ 'global.gender'|trans }}</th>
            <th>{{ 'global.race'|trans }}</th>
            <th>{{ 'global.profession'|trans }}</th>
            <th>{{ 'global.guild'|trans }}</th>
            <th>{{ 'global.crafting'|trans }}</th>
            <th>{{ 'global.created'|trans }} <small>(UTC)</small></th>
            <th class="text-right">{{ 'global.days'|trans }}</th>
            <th class="text-right">{{ 'global.age'|trans }}</th>
            <th class="text-right">{{ 'global.deaths'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for char in account.characters %}
            {% if module.isAllowedCharacter(char.name) %}
                {% set totalage = totalage + char.age/3600 %}
                {% set totaldeaths = totaldeaths + char.deaths %}
                <tr>
                    <td>
                        <img src="{{ char|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession pull-right" />
                        <a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a>
                    </td>
                    <td>{{ char.level }}</td>
                    <td>{{ ('gender.'~char.gender)|trans }}</td>
                    <td>{{ ('race.'~char.race)|trans }}</td>
                    <td>{{ ('profession.'~char.profession)|trans }}</td>
                    <td>{{ char.guild.name }}</td>
                    <td>
                        {% for craft in char.crafting %}
                            <span title="{{ ('crafting.'~craft.name)|trans }}">
                                <img class="craft" src="{{ craft|image }}" /> {{ craft.rating }}
                            </span> 
                        {% endfor %}
                    </td>
                    <td>{{ char.created }}</td>
                    <td class="text-right">{{ char.days }}</td>
                    <td class="text-right">{{ (char.age/3600)|round }}</td>
                    <td class="text-right">{{ char.deaths }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"></td>
            <td class="text-right">{{ totalage|round }}</td>
            <td class="text-right">{{ totaldeaths }}</td>
        </tr>
    </tfoot>
</table>
