
{% import "macro.twig" as macro %}


{% set lists = {
    'Armors' : ['Helm', 'Shoulders', 'Coat', 'Gloves', 'Leggings', 'Boots', 'HelmAquatic'],
    'Backpack / Trinkets' : ['Backpack', 'Amulet', 'Accessory', 'Ring'],
    'Weapons two hands' : ['Greatsword', 'Hammer', 'Rifle', 'Staff', 'LongBow', 'ShortBow'],
    'Weapons one hand' : ['Sword', 'Axe', 'Mace', 'Dagger', 'Scepter', 'Pistol', 'Focus', 'Warhorn', 'Shield', 'Torch'],
    'Weapons aquatic' : ['Speargun', 'Harpoon', 'Trident'],
} %}

{% set characters = account.characters %}
{% set nbcolumns = characters|length %}

{% if nbcolumns > 5 %}
    <script>
        $('#container').removeClass('container').addClass('container-fluid');
        $('.page-{{ page }}').addClass('big');
    </script>
{% endif %}

<table class="table table-condensed">
    <tbody>
        {% block table_header %}
            <tr>
                {% set index = 0 %}
                {% for char in characters %}
                    {% if module.isAllowedCharacter(char.name) %}
                        {% if index % 5 == 0 %}
                            <th>
                            </th>
                        {% endif %}
                        <th>
                            {% if char %}
                                <img src="{{ char.professionicon|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession" />
                                <a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a>
                            {% endif %}
                        </th>
                        {% set index = index + 1 %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endblock %}

        {% for title, types in lists %}
            {% block separator %}
                <tr class="separator">
                    <td colspan="{{ nbcolumns + (nbcolumns/5)|round(0, 'ceil') }}" class="text-center"></td>
                </tr>
            {% endblock %}
            {% for type in types %}
                <tr>
                    {% set index = 0 %}
                    {% for char in characters %}
                        {% if module.isAllowedCharacter(char.name) %}
                            {% if index % 5 == 0 %}
                                <td class="type">
                                    {{ ('itemtype.'~type)|trans }}
                                </td>
                            {% endif %}
                            <td>
                                <div class="cell">
                                    {% if char %}
                                        {% for obj in char.inventorystuff[(type == 'Backpack' ? '' : type)] %}
                                            {{ _self.object(obj) }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                            {% set index = index + 1 %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}

        {{ block('separator') }}
        {{ block('table_header') }}
    </tbody>
</table>







{% macro object(obj) %}
    {% if obj.id %}
        <div class="object">
            <span class="icons">
                <span {{ obj|gwlink|raw }}>
                    <img src="{{ obj|image }}" class="item" />
                </span>
                {% for upgrade in obj.upgrades %}
                    <span {{ upgrade|gwlink|raw }}>
                        <img src="{{ upgrade|image }}" class="infusion" />
                    </span>
                {% endfor %}
                {% for infusion in obj.infusions %}
                    <span {{ infusion|gwlink|raw }}>
                        <img src="{{ infusion|image }}" class="upgrade" />
                    </span>
                {% endfor %}
            </span>
            <span class="name">
                {% set attrs = obj.attributes %}
                {% set stats = attrs.stats|split('/')|transarray({}, 'attribute.')|join('/') %}
                {% if attrs.stats_name and attrs.stats %}
                    <span title="{{ stats }}" class="stats rarity-{{ obj.rarity }}">{{ ('stats.'~attrs.stats_name)|trans }}</span>
                {% elseif attrs.stats_name %}
                    <span title="{{ obj.name }}" class="stats rarity-{{ obj.rarity }}">{{ ('stats.'~attrs.stats_name)|trans }}</span>
                {% elseif attrs.stats %}
                    <span title="{{ stats }}" class="stats rarity-{{ obj.rarity }}"><em>{{ 'global.unknown'|trans }}</em></span>
                        {% else %}
                    <span title="{{ obj.name }}" class="stats rarity-{{ obj.rarity }}"><em>{{ 'global.unknown'|trans }}</em></span>
                        {% endif %}
            </span>
        </div>
    {% endif %}
{% endmacro %}