

{% set fname = service.request.get('name')|lower %}
{% set frarity = service.request.get('rarity') %}
{% set flvlmin = service.request.get('lvlmin') %}
{% set flvlmax = service.request.get('lvlmax') %}

{% if module.isAllowed('inventories', 'characters') %}
    {% for char in account.characters %}
        {% if module.isowner or module.user.hasright('character/'~char.name) %}
            {% set found = '' %}

            {% for item in char.equipments %}
                {% set found = found~_self.match(item, fname, frarity, flvlmin, flvlmax) %}
            {% endfor %}

            {% for bag in char.bags %}
                {% for item in bag.inventory %}
                    {% set found = found~_self.match(item, fname, frarity, flvlmin, flvlmax) %}
                {% endfor %}
            {% endfor %}

            {% if found %}
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{{ char.professionicon|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession" />
                        <a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a>
                    </div>
                    <div class="col-xs-10 slots">
                        {{ found|raw }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if module.isAllowed('bank', 'inventories') %}
    {% for vault in account.bankvaults %}
        {% set found = '' %}
        
        {% for item in vault.items %}
            {% set found = found~_self.match(item, fname, frarity, flvlmin, flvlmax) %}
        {% endfor %}
        
        {% if found %}
            <div class="row">
                <div class="col-xs-2">
                    <a href="../bank/"><b>{{ 'global.bank'|trans }} {{ vault.id }}</b></a>
                </div>
                <div class="col-xs-10 slots">
                    {{ found|raw }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if module.isAllowed('collectibles', 'inventories') %}
    {% for category in account.collectibles %}
        {% set found = '' %}
        
        {% for item in category.items %}
            {% set found = found~_self.match(item, fname, frarity, flvlmin, flvlmax) %}
        {% endfor %}
        
        {% if found %}
            <div class="row">
                <div class="col-xs-2">
                    <a href="../collectibles/"><b>{{ category.name }}</b></a>
                </div>
                <div class="col-xs-10 slots">
                    {{ found|raw }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


{% macro match(item, fname, frarity, flvlmin, flvlmax) %}
    {% if item.id and (item.count > 0 or item.slot) %}
        {% import "macro.twig" as macro %}

        {% set show = 1 %}

        {% if fname and fname not in item.name|lower and fname not in item.skin.name|lower %}
            {% set show = 0 %}
        {% endif %}
        
        {% if frarity and frarity != item.rarity %}
            {% set show = 0 %}
        {% endif %}
        
        {% if flvlmin and flvlmin > item.level %}
            {% set show = 0 %}
        {% endif %}
        
        {% if flvlmax and flvlmax < item.level %}
            {% set show = 0 %}
        {% endif %}

        {% if show %}
            {{ macro.inventory_slot(item) }}
        {% endif %}
    {% endif %}
{% endmacro %}