{% extends "base.twig" %}

{% block content %}

    <div class="panel panel-default page-{{ page }}">
        <div class="panel-heading">{{ 'global.filters'|trans }}</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="fName">{{ 'global.name'|trans }}</label>
                    <input type="text" class="form-control" id="fName" />
                </div>
                <div class="form-group">
                    <label for="fRarity">{{ 'global.rarity'|trans }}</label>
                    <select class="form-control" id="fRarity">
                        <option value="">{{ 'global.all'|trans }}</option>
                        {% for rarity in [   
                            'Junk',
                            'Basic',
                            'Fine',
                            'Masterwork',
                            'Rare',
                            'Exotic',
                            'Ascended',
                            'Legendary',
                        ] %}
                            <option value="{{ rarity }}">{{ ('rarity.'~rarity)|trans }}</option>
                        {% endfor %}
                     </select>
                </div>
                <div class="form-group">
                    <label for="fLevelMin">{{ 'global.level_min'|trans }}</label>
                    <input type="number" class="form-control" id="fLevelMin" min="0" max="80" />
                </div>
                <div class="form-group">
                    <label for="fLevelMax">{{ 'global.level_max'|trans }}</label>
                    <input type="number" class="form-control" id="fLevelMax" min="0" max="80" />
                </div>
                <button id="searchButton" type="button" class="btn btn-primary">{{ 'global.search'|trans }}</button>
            </form>
        </div>
    </div>
            
    <div class="panel panel-default" id="results" style="display: none">
        <div class="panel-heading">{{ 'global.results'|trans }}</div>
        <div class="panel-body" data-content="ajax">
        </div>
    </div>

    <div style="display:none" id="template-loading">
        <div class="spinner-loader"></div> <em>{{ "global.loading"|trans }}</em>
    </div>
{% endblock %}
    
{% block css %}

    {{ parent() }}

    <style>
        #fLevelMin, #fLevelMax {
            max-width: 6em;
        }
        .panel-body .form-group {
            margin-right: 1em;
        }
        .panel-body .form-group label {
            margin-right: .5em;
        }
        #results .row{
            border-bottom: 1px solid #ddd;
            padding-top: .5em;
            padding-bottom: .5em;
        }
        #results .row:last-child{
            border-bottom: 1px solid transparent;
        }
    </style>

{% endblock %}

{% block js %}

    {{ parent() }}

    <script>
        $(function () {
            var $templateLoading = $('#template-loading');
            var $results = $('#results');
            
            $('#searchButton').click(function(){
                var src = 'content.html';
                var fname = $('#fName').val();
                var frarity = $('#fRarity').val();
                var flvlmin = $('#fLevelMin').val();
                var flvlmax = $('#fLevelMax').val();
                if(fname || frarity || flvlmin || flvlmax) {
                    src += '?name=' + encodeURIComponent(fname);
                    src += '&rarity=' + encodeURIComponent(frarity);
                    src += '&lvlmin=' + encodeURIComponent(flvlmin);
                    src += '&lvlmax=' + encodeURIComponent(flvlmax);
                    $results.show();
                    $results.find('> .panel-body').data('src', src).html($templateLoading.html()).trigger('loadContent');
                }
                else {
                    $results.hide();
                }
            }).trigger('click');
        });
    </script>

{% endblock %}