
{% import "macro.twig" as macro %}


{% set attrs = [
    'Power',
    'Precision',
    'Toughness',
    'Vitality',
    'Ferocity',
    'Condition',
    'Healing',
    'AR',
] %}

<table class="table">
    <thead>
        <tr>
            <th>{{ 'global.name'|trans }}</th>
            <th>
            </th>
            {% for k, v in attrs %}
                <th style="white-space: nowrap">
                    <img src="/assets/images/attributes/{{ v }}.png" class="attribute" />
                    {{ ('attribute.'~v)|trans }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for char in account.characters %}
            {% if module.isAllowedCharacter(char.name) %}
                {% set attributes = char.attributes %}
                <tr>
                    <td>
                        <img src="{{ char|image }}" title="{{ ('profession.'~char.profession)|trans }}" class="profession pull-right" />
                        <a href="../character/{{ char.name }}"><b>{{ char.name }}</b></a>
                    </td>
                    <td class="text-center" style="width: 2em">
                        {% if attributes.unknown|length %}
                            <span class="text-danger" title="{{ 'global.unknown_attributes_for'|trans({
                            'attributes': attributes.unknown|transarray({}, 'itemtype.')|join(', ')
                            }) }}">
                                <i class="glyphicon glyphicon-exclamation-sign"></i>
                            </span>
                        {% endif %}
                    </td>
                    {% for attr in attrs %}
                        <td>
                            {% for k, v in attributes.list[attr] %}
                                <div>
                                    <span class="attr" title="{{ ('itemtype.'~k)|trans }}">
                                        {{ v }}
                                        {% if attributes.list[attr~'Pct'] %}
                                            &nbsp;&nbsp;
                                            <small class="text-muted">
                                                {{ attributes.list[attr~'Pct'][k] }}%
                                            </small>
                                        {% endif %}
                                    </span>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
